{% extends "base.html" %}

{% block add_media %} <link rel="stylesheet" href="/static/css/ingredient.css"> {% endblock %}

{% block body %}

    <form id="ingredient" method="post" action="">
    {% csrf_token %}
        {{ ingredient.non_field_error }}
        <ul>
            <li>
                {{ ingredient.name.errors }}
                {{ ingredient.name.label_tag }}
                {{ ingredient.name }} <span class="add" onclick="openIngredientNamePage()">+</span>
            </li>
            <li>
                {{ ingredient.date.errors }}
                {{ ingredient.date.label_tag }}
                {{ ingredient.date }}
            </li>
            <li>
                {{ ingredient.cafe.errors }}
                {{ ingredient.cafe.label_tag }}
                {{ ingredient.cafe }}
            </li>
            <li>
                {{ ingredient.packagesAmount.errors }}
                {{ ingredient.packagesAmount.label_tag }}
                {{ ingredient.packagesAmount }}
            </li>
            <li>
                {{ ingredient.goodsAmount.errors }}
                {{ ingredient.goodsAmount.label_tag }}
                {{ ingredient.goodsAmount }}
            </li>
            <li>
                {{ ingredient.price.errors }}
                {{ ingredient.price.label_tag }}
                {{ ingredient.price }}
            </li>
        </ul>
        <input type="submit" value="Сохранить"/>
    </form>





    <script type="application/javascript">
        function openIngredientNamePage() {
            var child = window.open("{% url "add-ingredientName" %}", "",
                "height=360, width=500, status=0, titlebar=0, location=0", replace=true);
        }
    </script>


{% endblock %}