{% extends "base.html" %}
{% load static %}

{% block add_media %} <link rel="stylesheet" href="/static/css/ingredient.css"> {% endblock %}

{% block body %}

    <form id="dish" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
        {{ dish.non_field_error }}
        <ul>
            <li>
                {{ dish.name.errors }}
                {{ dish.name.label_tag }}
                {{ dish.name }} <span class="add" onclick="updateFields()">+</span>
            </li>
            <li>
                {{ dish.image.errors }}
                {{ dish.image.label_tag }}<br>
                {{ dish.image }}
            </li>
            <li>
                {{ dish.description.errors }}
                {{ dish.description.label_tag }}<br>
                {{ dish.description }}
            </li>
            <li>
                {{ dish.price.errors }}
                {{ dish.price.label_tag }}
                {{ dish.price }}
            </li>
        </ul>


        <table class="table">
            {{ inline.management_form }}

            {% for form in inline.forms %}
                {% if forloop.first %}
                    <thead>
                    <tr>
                        {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                {% endif %}
                <tr class="ingredient formset_row">
                    {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>


        <input type="submit" value="Сохранить"/>
    </form>





    <script type="application/javascript">
        //
        //
        // ТУТ СДЕЛАТЬ АВТООБНОВЛЕНИЕ ПОЛЕЙ С ИНГРЕДИЕНТАМИ
        //
        //

        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        function updateFields() {
            $.ajax({
                url: "/api/ingredient/", {% url "apiIngredient" %}
                type: "POST",
                dataType: "html",
                data: {
                    "action": "getList",
                    "csrfmiddlewaretoken": csrftoken
                },
                success: function(response) {
                    r = JSON.parse(response);
                    data = r["data"];
                    console.log(data);


                    var elems = $(".ingredient.formset_row");
                    var elemsTotal = elems.length;
                    console.log(elems);
                    console.log(elemsTotal);
                },
                error: function(response) { }
            });
        }
    </script>

    <script type="application/javascript">
        {#function opendishNamePage() {#}
        {#    var child = window.open("{% url "add-dishName" %}", "",#}
        {#        "height=360, width=500, status=0, titlebar=0, location=0", replace=true);#}
        {# }#}
    </script>

    <script src="{% static 'formset/jquery.formset.js' %}"></script>

    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'Додати ще',
            deleteText: 'Видалити',
            prefix: 'dishingredients_set',
        });
    </script>



{% endblock %}