{% extends "base.html" %}

{% block add_media %} <link rel="stylesheet" href="/static/css/ingredient.css"> {% endblock %}

{% block body %}

    <form id="ingredient" method="post" action="" onsubmit="before_post()">
    {% csrf_token %}
        <input type="hidden" name="is_child" value="0">
        {{ ingredientName.non_field_error }}
        <ul>
            <li>
                {{ ingredientName.name.errors }}
                {{ ingredientName.name.label_tag }}
                {{ ingredientName.name }}
            </li>
            <li>
                {{ ingredientName.shelfLife.errors }}
                {{ ingredientName.shelfLife.label_tag }}
                {{ ingredientName.shelfLife }}
            </li>
            <li>
                {{ ingredientName.buyingUnits.errors }}
                {{ ingredientName.buyingUnits.label_tag }}
                {{ ingredientName.buyingUnits }}
            </li>
            <li>
                {{ ingredientName.sellingUnits.errors }}
                {{ ingredientName.sellingUnits.label_tag }}
                {{ ingredientName.sellingUnits }}
            </li>
        </ul>
        <input type="submit" value="Сохранить"/>
    </form>



    <script type="application/javascript">

        function sendAjaxForm(result_form, ajax_form, url) {
            $.ajax({
                url: url,
                type: "POST",
                dataType: "html",
                data: $("#"+ajax_form).serialize() + "&ajax=1",
                success: function(response) {

                },
                error: function(response) { }
            });
        }

        function before_post(){
            if (window.opener.document) {
                // если есть родитель - значит, это окно требует закрытия после отправки формы
                $("input[name=is_child]").val("1");
            }
        }
    </script>


{% endblock %}