<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block add_media %}{% endblock %}
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title></title>
</head>
<body>
    <ul>
        <li><a href="{% url "add-ingredient" %}">Добавить ингредиент</a></li>
        <li><a href="{% url "add-ingredientName" %}">Добавить название ингредиента</a></li>
        <li><a href="{% url "add-dish" %}">Добавить блюдо</a></li>
        <li><a href="{% url "disheslist" %}">Список блюд</a></li>
        <li><a href="{% url "cart" %}">Корзина</a></li>
        {% if user.is_authenticated %}
            <li>{{ user.get_full_name }}  <a href="{% url "logout" %}">Выход</a></li>
        {% else %}
            <li><a href="{% url "signup" %}">Регистрация</a></li>
            <li><a href="{% url "login" %}">Вход</a></li>
        {% endif %}
    </ul>
    <hr>
    {% block body %}

    {% endblock %}
</body>
</html>