{% extends "base.html" %}

{% block add_media %} <link rel="stylesheet" href="/static/css/ingredient.css"> {% endblock %}

{% block body %}
    {% csrf_token %}

    <ul>
        {% for dish in dishesList %}
            <li>
                {{ dish.dish.name }}<br>
                <button class="add" onclick="changeVal('{{ dish.id }}', 0)">- </button>
                <input type="number" id="dish{{ dish.id }}Qty" min="1" name="qty" value="{{ dish.qty }}" readonly="readonly"
                       style="width:40px; text-align:center; padding:0">
                <button class="add" onclick="changeVal('{{ dish.id }}', 1)"> +</button>
            </li>
        {% endfor %}
    </ul>
    <button onclick="makeOrder()">Оформить заказ</button>


    <script type="application/javascript">

        var csrftoken = $("[name=csrfmiddlewaretoken]").val();

        function changeVal(id, mode) {
            obj = $("#dish" + id + "Qty");
            val = obj.val();
            newVal = 1;
            if (mode === 0) {
                newVal = +val - 1;
            } else if (mode === 1) {
                newVal = +val + 1;
            }

            if (newVal > 0) {
                $.when(
                    $.ajax({
                        url: "{% url "apiDish" %}",
                        type: "POST",
                        dataType: "html",
                        data: {
                            "action": "changeQty",
                            "id": id,
                            "newVal": newVal,
                            "csrfmiddlewaretoken": csrftoken,
                        },
                        success: function(response) {
                            return true
                        },
                        error: function(response) {
                            return false
                        }
                    })
                ).then(function(response){
                    status = JSON.parse(response)["status"];

                    if (status === "ok") {
                        obj.val(newVal);
                    }
                 });
            }

        }

        function makeOrder() {
            $.ajax({
                url: "{% url "createOrder" %}",
                type: "GET",
                dataType: "html",
                data: {},
                success: function(response) {
                    response = JSON.parse(response);
                    if (response["status"] !== "ok") {
                        $.notify(response["status"], "warning");
                    }
                    else {
                        console.log(response);
                        $.notify("ОК")
                    }
                },
                error: function(response) {
                    alert("FAIL")
                }
            })
        }

    </script>

{% endblock %}