{% extends "base.html" %}

{% block add_media %} <link rel="stylesheet" href="/static/css/ingredient.css"> {% endblock %}

{% block body %}
    {% csrf_token %}

    <ul>
        {% for dish in dishesList %}
            <li>
                Назва: {{ dish.name }}<br>
                <button onclick="addDishToCart( {{ dish.id }}, '{{ dish.name }}' )">Додати до кошику</button>
            </li>
        {% endfor %}
    </ul>


    <script type="application/javascript">

        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        {#function csrfSafeMethod(method) {#}
        {#    // these HTTP methods do not require CSRF protection#}
        {#    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));#}
        {# }#}
        {#$.ajaxSetup({#}
        {#    beforeSend: function(xhr, settings) {#}
        {#        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {#}
        {#            xhr.setRequestHeader("X-CSRFToken", csrftoken);#}
        {#        }#}
        {#    }#}
        {# });#}

        function addDishToCart(id, name) {
            $.ajax({
                url: "{% url "apiDish" %}",
                type: "POST",
                dataType: "html",
                data: {
                    "action": "addToCart",
                    "id": id,
                    "csrfmiddlewaretoken": csrftoken,
                },
                success: function(response) {
                    var result = JSON.parse(response);
                    status = result["status"];
                    if(status === "ok") {
                        alert(name + " добавлен в корзину!");
                    }
                    else{
                        alert("Ошибка: " + result["status"]);
                    }
                },
                error: function(response) {
                    alert("Произошла ошибка при добавлении в корзину!");
                }
            });

        }
    </script>







{% endblock %}