{% extends "manager/base.html" %}
{% load static %}

{% block add_media %}
{% endblock %}

{% block content %}
    <h1>Список страв</h1>

    <div class=" grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <a href="{% url "managerDishAdd" %}"><button type="button" class="btn btn-success btn-rounded btn-fw">Додати</button></a>
          <br><br>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                    <th>Назва</th>
                    <th>Ціна</th>
                    <th>Строк придатності</th>
{#                    <th>Статус</th>#}
                    <th>Детально</th>
                </tr>
              </thead>
              <tbody>
                {% for dish in dishes %}
                    <tr>
                        <td>{{ dish.name }}</td>
                        <td>{{ dish.price }} грн</td>
                        <td>{{ dish.prepared_lifetime|minsToTime }}</td>
{#                        <td>#}
{#                        {% if dish.is_active %}#}
{#                            <label class="badge badge-success">У продажу</label>#}
{#                        {% else %}#}
{#                            <label class="badge badge-danger">Деактивована</label>#}
{#                        {% endif %}#}
{#                        </td>#}
                        <td><a href="{% url "managerDishEdit" dish.id %}"><button type="button" class="btn btn-secondary btn-sm">Детально</button></a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {#  PAGINATION  #}
    {% if orders.has_other_pages %}
        <div class="btn-group" role="group">
                {% if dishes.number != 1 %}
                    <a class="page-link" href="{% url "managerDishesList" 1 %}">1</a>
                {% endif %}

                {% if dishes.has_previous and dishes.previous_page_number != 1 %}

                    {% if dishes.previous_page_number > 4 %}
                        <a class="page-link">. . .</a>
                        <a class="page-link" href="{% url "managerDishesList" dishes.previous_page_number|add:'-1' %}/">{{ dishes.previous_page_number|add:'-1' }}</a>
                        <a class="page-link" href="{% url "managerDishesList" dishes.previous_page_number %}">{{ dishes.previous_page_number }}</a>
                    {% elif dishes.previous_page_number == 4 %}
                        <a class="page-link" href="{% url "managerDishesList" dishes.previous_page_number|add:'-2' %}">{{ dishes.previous_page_number|add:'-2' }}</a>
                        <a class="page-link" href="{% url "managerDishesList" dishes.previous_page_number|add:'-1' %}">{{ dishes.previous_page_number|add:'-1' }}</a>
                        <a class="page-link" href="{% url "managerDishesList" dishes.previous_page_number %}">{{ dishes.previous_page_number }}</a>
                    {% elif dishes.previous_page_number == 3 %}
                        <a class="page-link" href="{% url "managerDishesList" dishes.previous_page_number|add:'-1' %}">{{ dishes.previous_page_number|add:'-1' }}</a>
                        <a class="page-link" href="{% url "managerDishesList" dishes.previous_page_number %}">{{ dishes.previous_page_number }}</a>
                    {% elif dishes.previous_page_number == 2 %}
                        <a class="page-link" href="{% url "managerDishesList" dishes.previous_page_number %}">{{ dishes.previous_page_number }}</a>
                    {% endif %}

                {% endif %}

                <a href="" class="page-link">{{ dishes.number }}</a>


                {% if dishes.has_next %}

                    {% if dishes.next_page_number < dishes.paginator.num_pages|add:'-4' %}
                        <a class="page-link" href="{% url "managerDishesList" dishes.next_page_number %}">{{ dishes.next_page_number }}</a>
                        <a class="page-link" href="{% url "managerDishesList" dishes.next_page_number|add:'1' %}">{{ dishes.next_page_number|add:'1' }}</a>
                        <a class="page-link">. . .</a>
                    {% elif dishes.next_page_number < dishes.paginator.num_pages|add:'-3' %}
                        <a class="page-link" href="{% url "managerDishesList" dishes.next_page_number %}">{{ dishes.next_page_number }}</a>
                        <a class="page-link" href="{% url "managerDishesList" dishes.next_page_number|add:'1' %}">{{ dishes.next_page_number|add:'1' }}</a>
                        <a class="page-link">. . .</a>
                    {% elif dishes.next_page_number < dishes.paginator.num_pages|add:'-2' %}
                        <a class="page-link" href="{% url "managerDishesList" dishes.next_page_number %}">{{ dishes.next_page_number }}</a>
                        <a class="page-link" href="{% url "managerDishesList" dishes.next_page_number|add:'1' %}">{{ dishes.next_page_number|add:'1' }}</a>
                        <a class="page-link" href="{% url "managerDishesList" dishes.next_page_number|add:'2' %}">{{ dishes.next_page_number|add:'2' }}</a>
                    {% elif dishes.next_page_number < dishes.paginator.num_pages|add:'-1' %}
                        <a class="page-link" href="{% url "managerDishesList" dishes.next_page_number %}">{{ dishes.next_page_number }}</a>
                        <a class="page-link" href="{% url "managerDishesList" dishes.next_page_number|add:'1' %}">{{ dishes.next_page_number|add:'1' }}</a>
                    {% elif dishes.next_page_number < dishes.paginator.num_pages %}
                        <a class="page-link" href="{% url "managerDishesList" dishes.next_page_number %}">{{ dishes.next_page_number }}</a>
                    {% endif %}

                    <a class="page-link" href="{% url "managerDishesList" dishes.paginator.num_pages %}">{{ dishes.paginator.num_pages }}</a>

                {% endif %}
        </div>
    {% endif %}
{% endblock %}