{% extends "manager/base.html" %}
{% load static %}

{% block add_media %}
{% endblock %}

{% block content %}
    <h1>Додати страву</h1>

    <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-body col-6">
                <form action="" method="POST" id="dishForm" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="name">Назва</label>

                        {% if dish.name.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in dish.name.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <input type="text" class="form-control" id="id_name" name="name"
                               value="{% if dish.name.value %}{{ dish.name.value|toStr|ifNone:"" }}{% endif %}">
                    </div>

                    <div class="form-group">
                        <label for="image">Зображення</label>

                        {% if dish.image.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in dish.image.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="input-group">
                            {% if dish.image.value %}<div class="col-12"><a href="/{{ dish.image.value }}" target="_blank" class="text-small">{{ dish.image.value }}</a></div>{% endif %}
                            <div class=""><input type="file" class="form-control" id="id_image" name="image" accept="image/x-png,image/jpeg"></div> {# {% if dish.image.value %}{{ dish.image.value|toStr|ifNone:"" }}{% endif %} #}
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="cafe">Опис</label>

                        {% if dish.cafe.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in dish.cafe.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        
                        <textarea class="form-control" rows="12" id="id_description" name="description"
                        >{% if dish.description.value %}{{ dish.description.value|toStr|ifNone:"" }}{% endif %}</textarea>
                    </div>


                    <div class="form-group">
                        <label for="weight">Маса</label>

                        {% if dish.weight.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in dish.weight.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="input-group">
                            <input type="number" class="form-control" id="id_weight" name="weight"
                                   value="{% if dish.weight.value %}{{ dish.weight.value|toStr }}{% endif %}">
                            <div class="input-group-append">
                                <span class="input-group-text">г</span>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="calorie">Калорійність</label>

                        {% if dish.calorie.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in dish.calorie.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="input-group">
                            <input type="number" class="form-control" id="id_calorie" name="calorie"
                                   value="{% if dish.calorie.value %}{{ dish.calorie.value|toStr }}{% endif %}">
                            <div class="input-group-append">
                                <span class="input-group-text">кал</span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="cooking_time">Час приготування</label>

                        {% if dish.cooking_time.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in dish.cooking_time.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="input-group">
                            <input type="number" class="form-control" id="id_cooking_time" name="cooking_time"
                                   value="{% if dish.cooking_time.value %}{{ dish.cooking_time.value|toStr }}{% endif %}">
                            <div class="input-group-append">
                                <span class="input-group-text">хв</span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="prepared_cooking_time">Час приготування заготовленої страви</label>

                        {% if dish.prepared_cooking_time.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in dish.prepared_cooking_time.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="input-group">
                            <input type="number" class="form-control" id="id_prepared_cooking_time" name="prepared_cooking_time"
                                   value="{% if dish.prepared_cooking_time.value %}{{ dish.prepared_cooking_time.value|toStr }}{% endif %}">
                            <div class="input-group-append">
                                <span class="input-group-text">хв</span>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="prepared_lifetime">Термін придатності заготовленої страви</label>

                        {% if dish.prepared_lifetime.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in dish.prepared_lifetime.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="input-group">
                            <input type="number" class="form-control" id="id_prepared_lifetime" name="prepared_lifetime"
                                   value="{% if dish.prepared_lifetime.value %}{{ dish.prepared_lifetime.value|toStr }}{% endif %}">
                            <div class="input-group-append">
                                <span class="input-group-text">хв</span>
                            </div>
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="price">Ціна</label>

                        {% if dish.price.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in dish.price.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="input-group">
                            <input type="number" class="form-control" id="price" name="price" placeholder="30.40"
                                value="{% if dish.price.value %}{{ dish.price.value|toStr|ifNone:"" }}{% endif %}">
                            <div class="input-group-append">
                                <span class="input-group-text"><span class="sellingUnits">грн</span></span>
                            </div>
                        </div>
                    </div>



                    <br>
                    <div class="form-group">
                        <h4>Iнгредієнти</h4>
                        <table class="table">
                            {{ formset.management_form }}

                            {% for form in formset.forms %}
                                {% if forloop.first %}
                                    <thead>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <th>{{ field.label|capfirst }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                {% endif %}
                                <tr class="ingredient formset_row">
                                    {% for field in form.visible_fields %}
                                        <td>
                                            {# Include the hidden fields in the form #}
                                            {% if forloop.first %}
                                                {% for hidden in form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                            {% endif %}
                                            {{ field.errors.as_ul }}
                                            {{ field }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <br>

                    <input type="submit" class="btn btn-success btn-rounded btn-fw"
                           value="{% if mode == "add" %}Додати{% else %}Зберегти{% endif %}">
                    <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-secondary btn-rounded btn-fw">Назад</button></a>
                </form>

            </div>
          </div>
        </div>
    </div>

    <script src="{% static 'formset/jquery.formset.js' %}"></script>

    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'Додати ще',
            deleteText: 'Видалити',
        });


        document.getElementById('dishForm').addEventListener("change", function(event) {
            var elem = event.target;

            if (elem.tagName === "SELECT") {
                regex = "id_.{0,}_set-(.{0,})-.{0,}";
                formId = elem.id.match(regex);
                id = elem.value;

                tr = elem.parentElement.parentElement;

                if (id) {
                    $.ajax({
                        url: "/manager/ingredient-name/get-units/" + id + "/",
                        type: "GET",
                        dataType: "json",
                        success: function(response) {
                            var sellingUnits = response.sellingUnits;

                            $(tr).find(".units").each(function() {
                               this.innerText = sellingUnits;
                            });
                        },
                        error: function(response) {}
                    });
                }

            }
        });

    </script>

{% endblock %}