{% extends "manager/base.html" %}
{% load static %}

{% block add_media %}
{% endblock %}

{% block content %}
    <h1>Змінити залишок інгредієнта</h1>

    <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-body col-4">
                <form action="" method="POST" id="ingredientForm">
                    {% csrf_token %}

                    <div class="form-group">
                        <h4>Назва</h4>

                        {{ data|getByKey:"name" }}
                    </div>


                    <div class="form-group">
                        <h4>Кафе</h4>

                        {{ data|getByKey:"cafe" }}
                    </div>


                    <div class="form-group">
                        <h4>Дата надходження</h4>

                        <p>{{ data|getByKey:"date" }}</p>
                    </div>


                    <div class="form-group">
                        <label for="packagesAmount"><h4>Кiлькiсть</h4></label>

                        {% if form.totalAmount.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in form.totalAmount.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="input-group">
                          <input type="number" class="form-control" id="id_totalAmount" name="totalAmount" value="{{ form.totalAmount.value|toStr }}">
                          <div class="input-group-append">
                              <span class="input-group-text">{{ data|getByKey:"sellingUnits" }}</span>
                          </div>
                        </div>
                    </div>




                    <input type="submit" class="btn btn-success btn-rounded btn-fw" value="Змінити">
                    <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-secondary btn-rounded btn-fw">Назад</button></a>
                </form>

            </div>
          </div>
        </div>
    </div>


{% endblock %}