{% extends "manager/base.html" %}
{% load static %}

{% block add_media %}
{% endblock %}

{% block content %}
    <h1>Додати інгредієнт</h1>

    <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-body col-4">
                <form action="" method="POST" id="ingredientForm">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="name">Назва</label>

                        {% if form.name.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in form.name.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="input-group">
                          <select class="form-control" name="name" id="name">
                              {% for id, name in form.fields.name.choices %}
                                  <option value="{{ id }}" {% if form.name.value|toStr == id|toStr %}selected{% endif %}>{{ name }}</option>
                              {% endfor %}
                          </select>
                          <div class="input-group-append">
                              <span class="input-group-text add" onclick="openIngredientNameEditPage()" style="cursor:pointer;" title="Редагувати інгредієнт">
                                  <i class="mdi mdi-pencil text-black"></i></span>
                              <span class="input-group-text add" onclick="openIngredientNameAddPage()" style="cursor:pointer;" title="Додати інгредієнт">
                                  <i class="mdi mdi-plus text-black"></i></span>
                          </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="cafe">Кафе</label>

                        {% if form.cafe.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in form.cafe.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <select class="form-control" name="cafe" id="cafe">
                            {% for id, name in form.fields.cafe.choices %}
                                {% if name == cafeAddress %}
                                    <option value="{{ id }}">{{ name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="date">Дата виробництва</label>

                        {% if form.date.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in form.date.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <input type="datetime-local" class="form-control" id="id_date" name="date"
                               value="{% if not form.date.value %}{{ timeNow|date:"Y-m-d\TH:i" }}{% else %}{{ form.date.value }}{% endif %}">
                    </div>


                    <div class="form-group">
                        <label for="packagesAmount">Кiлькiсть</label>

                        {% if form.packagesAmount.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in form.packagesAmount.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="input-group">
                          <input type="number" class="form-control" id="packagesAmount" name="packagesAmount" placeholder="100"
                                 value="{{ form.packagesAmount.value|toStr|ifNone:"" }}">
                          <div class="input-group-append">
                              <span class="input-group-text"><span class="buyingUnits">од</span></span>
                          </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="goodsAmount">В кожному по</label>

                        {% if form.goodsAmount.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in form.goodsAmount.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="input-group">
                          <input type="number" class="form-control" id="goodsAmount" name="goodsAmount" placeholder="50.4"
                            value="{{ form.goodsAmount.value|toStr|ifNone:"" }}">
                          <div class="input-group-append">
                              <span class="input-group-text"><span class="sellingUnits">од</span></span>
                          </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="price">Ціна однієї(-го) <b><span class="buyingUnits">од</span></b></label>

                        {% if form.price.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in form.price.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <input type="number" class="form-control" id="price" name="price" placeholder="30.40"
                            value="{{ form.price.value|toStr|ifNone:"" }}">
                    </div>

                    <input type="hidden" name="totalAmount" value="0">




                    <input type="submit" class="btn btn-success btn-rounded btn-fw" value="Додати">
                    <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-secondary btn-rounded btn-fw">Назад</button></a>
                </form>

            </div>
          </div>
        </div>
    </div>

    <script type="application/javascript">

        document.getElementById('ingredientForm').name.onchange = function() {changeUnits(this.value);};

        function changeUnits(id) {
            $.ajax({
                url: "/manager/ingredient-name/get-units/" + id + "/",
                type: "GET",
                dataType: "json",
                success: function(response) {
                    var buyingUnits = response.buyingUnits;
                    var sellingUnits = response.sellingUnits;

                    $(".buyingUnits").each(function() {
                       this.innerText = buyingUnits;
                    });
                    $(".sellingUnits").each(function() {
                       this.innerText = sellingUnits;
                    });
                },
                error: function(response) {}
            });
        }


        function openIngredientNameAddPage() {
            var child = window.open("{% url "managerIngredientNameAdd" %}", "",
                "height=400, width=500, status=0, resizable=0, titlebar=0, location=0", replace=true);
        }

        function openIngredientNameEditPage(id) {
            var e = document.getElementById("name");
            var id = e.options[e.selectedIndex].value;

            if (id) {
                var child = window.open("/manager/ingredient-name/edit/" + id + "/", "",
                    "height=400, width=500, status=0, resizable=0, titlebar=0, location=0", replace = true);
            }
        }
    </script>


{% endblock %}