{% extends "manager/base.html" %}
{% load static %}

{% block add_media %}
{% endblock %}

{% block content %}
    <h1>Підтвердити транзит інгредієнтів</h1>

    <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-body col-6">
                <form action="" method="POST" id="dishForm">
                    {% csrf_token %}

                    {% if mode == "from" %}
                        <div class="form-group">
                            <label for="name">Кафе-отримувач</label>

                            <div class="display-5">{{ to_cafe }}</div>
                        </div>
                        <br>
                    {% endif %}


                    <div class="form-group">
                        <h4>Iнгредієнти</h4>

                        <br>
                        <h5>Необхiдно</h5>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                                <th>Назва</th>
                                <th>К-ть</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in needed_ingrs %}
                                <tr>
                                    <td>{{ i.ingredient }}</td>
                                    <td>{{ i.amount }}{{ i.ingredient.sellingUnits }}</td>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>

                        {% if mode == "from" %}
                            <br>
                            {% if is_done == False %}
                            <h5>Буде вiдправлено</h5>
                            <table class="table" id="ingrForms">
                                {{ formset.management_form }}

                                {% for form in formset.forms %}
                                    {% if forloop.first %}
                                        <thead>
                                        <tr>
                                            {% for field in form.visible_fields %}
                                                <th>{{ field.label|capfirst }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                    {% endif %}
                                    <tr class="ingredient formset_row">
                                        {% for field in form.visible_fields %}
                                            <td>
                                                {# Include the hidden fields in the form #}
                                                {% if forloop.first %}
                                                    {% for hidden in form.hidden_fields %}
                                                        {{ hidden }}
                                                    {% endfor %}
                                                {% endif %}
                                                {{ field.errors.as_ul }}
                                                {{ field }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                            {% else %}
                                <h5>Було вiдправлено</h5>
                                <table class="table" id="ingrForms">
                                  <thead>
                                    <tr>
                                        <th>Назва</th>
                                        <th>К-ть</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for ingr, amount in sent_ingrs.items %}
                                        <tr>
                                            <td>{{ ingr }}</td>
                                            <td>{{ amount }}{{ ingr.name.sellingUnits }}</td>
                                        </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                            {% endif %}
                        {% endif %}
                    </div>

                    <br>

                    {% if is_done == False %}
                        {% if mode == "from" %}
                            <input type="submit" class="btn btn-success btn-rounded btn-fw" value="Відіслати">
                        {% else %}
                            {% if errors %}
                                <ul class="list-ticked text-small">
                                {% for error in errors %}
                                    <li class="text-danger"><span>{{ error }}</span></li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                            <input type="submit" class="btn btn-success btn-rounded btn-fw" value="Підтвердити отримання">
                        {% endif %}
                    {% endif %}

                    <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-secondary btn-rounded btn-fw">Назад</button></a>
                </form>

            </div>
          </div>
        </div>
    </div>

    <script src="{% static 'formset/jquery.formset.js' %}"></script>

    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'Додати ще',
            deleteText: 'Видалити',
        });


        document.getElementById('ingrForms').addEventListener("change", function(event) {
            var elem = event.target;

            if (elem.tagName === "SELECT") {
                regex = "id_.{0,}_set-(.{0,})-.{0,}";
                formId = elem.id.match(regex);
                id = elem.value;

                tr = elem.parentElement.parentElement;

                if (id) {
                    $.ajax({
                        url: "/manager/ingredient-name/get-units/" + id + "/?parent=1",
                        type: "GET",
                        dataType: "json",
                        success: function(response) {
                            var sellingUnits = response.sellingUnits;

                            $(tr).find(".units").each(function() {
                               this.innerText = sellingUnits;
                            });
                        },
                        error: function(response) {}
                    });
                }

            }
        });

    </script>

{% endblock %}