<!DOCTYPE html>
<html lang="ua">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin Free Bootstrap-4 Admin Dashboard Template</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/Admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/Admin/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/static/Admin/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/Admin/css/style.css">
  <!-- endinject -->
</head>

<body>
  <div class="container-scroller">

    <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
                <form id="ingredient" method="post" action="">
                {% csrf_token %}


                    <div class="form-group">
                        <label for="name">Назва</label>

                        {% if form.name.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in form.name.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <input type="text" class="form-control" id="name" name="name" value="{{ form.name.value|ifNone:"" }}">
                    </div>





                    <div class="form-group">
                        <label for="shelfLife">Термін придатності</label>

                        {% if form.shelfLife.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in form.shelfLife.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="input-group">
                          <input type="number" class="form-control" id="shelfLife" name="shelfLife" placeholder="100"
                                 value="{{ form.shelfLife.value|toStr|ifNone:"" }}">
                          <div class="input-group-append">
                              <span class="input-group-text"><span class="buyingUnits">дiб</span></span>
                          </div>
                        </div>
                    </div>
                
                
                
                     
                    <div class="form-group">
                        <label for="buyingUnits">Одиниці виміру купуємого товару</label>

                        {% if form.buyingUnits.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in form.buyingUnits.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}


                        <div class="input-group">
                          <select class="form-control" name="buyingUnits" id="buyingUnits">
                              {% for id, name in form.fields.buyingUnits.choices %}
                                  <option value="{{ id }}" {% if form.buyingUnits.value == id %}selected{% endif %}>{{ name }}</option>
                              {% endfor %}
                          </select>
                        </div>
                    </div>
                
                
                     
                    <div class="form-group">
                        <label for="sellingUnits">Одиниці виміру продаваного товару</label>

                        {% if form.sellingUnits.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in form.sellingUnits.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}


                        <div class="input-group">
                          <select class="form-control" name="sellingUnits" id="sellingUnits">
                              {% for id, name in form.fields.sellingUnits.choices %}
                                  <option value="{{ id }}" {% if form.sellingUnits.value == id %}selected{% endif %}>{{ name }}</option>
                              {% endfor %}
                          </select>
                        </div>
                    </div>
                
                
                    <input type="submit" class="btn btn-success btn-rounded btn-fw" value="Додати">
                </form>
            </div>
          </div>
        </div>
    </div>


  </div>
    <script type="application/javascript">

    </script>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/static/Admin/vendors/js/vendor.bundle.base.js"></script>
  <script src="/static/Admin/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
{#  <script src="/static/Admin/js/off-canvas.js"></script>#}
{#  <script src="/static/Admin/js/misc.js"></script>#}
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
