{% extends "manager/base.html" %}
{% load static %}

{% block add_media %}
{% endblock %}

{% block content %}
    <h1>Транзит інгредієнтів</h1>

    <div class=" grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <a href="{% url "managerIngrTransitAdd" %}"><button type="button" class="btn btn-success btn-rounded btn-fw">Додати</button></a>
          <br><br>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Напрямок</th>
                    <th>Інгредієнти</th>
                    <th>Статус</th>
                    <th>Підтвердити</th>
                </tr>
              </thead>
              <tbody>
                {% for info, ingredients in ingrTransits %}
                    <tr>
                        <td>{{ info|getByKey:1|getObjField:"id" }}</td>
                        <td>{% if info|getByKey:0 == "to" %}
                            <label class="badge badge-success">До вас</label>{% else %}
                            <label class="badge badge-info">Від вас</label>{% endif %}</td>
                        <td>{% for ingr, amount in ingredients %}
                            <span class="text-dark">{{ ingr }}</span>: <span class="text-info">{{ amount }}{{ ingr.name.sellingUnits }}</span>&nbsp
                        {% endfor %}</td>
                        <td>

                            {% if info|getByKey:2 == "done" %}
                                {% if info|getByKey:0 == "to" %}<label class="badge badge-success">Отримано</label>{% else %}
                                    <label class="badge badge-success">Відправлено</label>
                                {% endif %}
                            {% else %}
                                <label class="badge badge-danger">Очікує</label>
                            {% endif %}

                        </td>
                        <td><a href="{% url "managerIngrTransitSubmit" info|getByKey:1|getObjField:"id" %}">
                            {% if info|getByKey:2 == "done" %}<button type="button" class="btn btn-secondary btn-sm">Детально</button>
                            {% else %}<button type="button" class="btn btn-success btn-sm">Підтвердити</button>{% endif %}
                        </a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

            {#  PAGINATION  #}
            {% if ingrTransits.has_other_pages %}
                <div class="btn-group" role="group">
                        {% if ingrTransits.number != 1 %}
                            <a class="page-link" href="{% url "managerIngrTransitList" 1 %}">1</a>
                        {% endif %}

                        {% if ingrTransits.has_previous and ingrTransits.previous_page_number != 1 %}

                            {% if ingrTransits.previous_page_number > 4 %}
                                <a class="page-link">. . .</a>
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.previous_page_number|add:'-1' %}/">{{ ingrTransits.previous_page_number|add:'-1' }}</a>
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.previous_page_number %}">{{ ingrTransits.previous_page_number }}</a>
                            {% elif ingrTransits.previous_page_number == 4 %}
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.previous_page_number|add:'-2' %}">{{ ingrTransits.previous_page_number|add:'-2' }}</a>
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.previous_page_number|add:'-1' %}">{{ ingrTransits.previous_page_number|add:'-1' }}</a>
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.previous_page_number %}">{{ ingrTransits.previous_page_number }}</a>
                            {% elif ingrTransits.previous_page_number == 3 %}
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.previous_page_number|add:'-1' %}">{{ ingrTransits.previous_page_number|add:'-1' }}</a>
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.previous_page_number %}">{{ ingrTransits.previous_page_number }}</a>
                            {% elif ingrTransits.previous_page_number == 2 %}
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.previous_page_number %}">{{ ingrTransits.previous_page_number }}</a>
                            {% endif %}

                        {% endif %}

                        <a href="" class="page-link">{{ ingrTransits.number }}</a>


                        {% if ingrTransits.has_next %}

                            {% if ingrTransits.next_page_number < ingrTransits.paginator.num_pages|add:'-4' %}
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.next_page_number %}">{{ ingrTransits.next_page_number }}</a>
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.next_page_number|add:'1' %}">{{ ingrTransits.next_page_number|add:'1' }}</a>
                                <a class="page-link">. . .</a>
                            {% elif ingrTransits.next_page_number < ingrTransits.paginator.num_pages|add:'-3' %}
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.next_page_number %}">{{ ingrTransits.next_page_number }}</a>
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.next_page_number|add:'1' %}">{{ ingrTransits.next_page_number|add:'1' }}</a>
                                <a class="page-link">. . .</a>
                            {% elif ingrTransits.next_page_number < ingrTransits.paginator.num_pages|add:'-2' %}
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.next_page_number %}">{{ ingrTransits.next_page_number }}</a>
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.next_page_number|add:'1' %}">{{ ingrTransits.next_page_number|add:'1' }}</a>
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.next_page_number|add:'2' %}">{{ ingrTransits.next_page_number|add:'2' }}</a>
                            {% elif ingrTransits.next_page_number < ingrTransits.paginator.num_pages|add:'-1' %}
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.next_page_number %}">{{ ingrTransits.next_page_number }}</a>
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.next_page_number|add:'1' %}">{{ ingrTransits.next_page_number|add:'1' }}</a>
                            {% elif ingrTransits.next_page_number < ingrTransits.paginator.num_pages %}
                                <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.next_page_number %}">{{ ingrTransits.next_page_number }}</a>
                            {% endif %}

                            <a class="page-link" href="{% url "managerIngrTransitList" ingrTransits.paginator.num_pages %}">{{ ingrTransits.paginator.num_pages }}</a>

                        {% endif %}
                </div>
            {% endif %}
{% endblock %}