{% extends "manager/base.html" %}
{% load static %}

{% block add_media %}
{% endblock %}

{% block content %}
    <h1>Список інгредієнтів</h1>

    <div class=" grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <a href="{% url "managerIngredientAdd" %}"><button type="button" class="btn btn-success btn-rounded btn-fw">Додати</button></a>
          <br><br>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Назва</th>
                    <th>Вироблено</th>
                    <th>Зіпсується</th>
                    <th>Залишок</th> {#  / використовується #}
                    <th>Статус</th>
                    <th>Детально</th>
                </tr>
              </thead>
              <tbody>
                {% for ingredient in ingredients %}
                    {% isAlmostOverdued ingredient.date ingredient.name.shelfLife as isAlmostOverdued_ %}

                    <tr class="
                            {% if ingredient.date|increaseTimeWithDays:ingredient.name.shelfLife > timeNow and isAlmostOverdued_ %}
                                table-warning
                            {% endif %}
                        ">
                        <td>{{ ingredient.id }}</td>
                        <td>{{ ingredient.name }}</td>
                        <td>{{ ingredient.date }}</td>
                        <td>{{ ingredient.date|increaseTimeWithDays:ingredient.name.shelfLife }}</td>
                        <td><span class="text-success">{{ ingredient.totalAmount }}</span>{#  / <span class="text-info">427.0</span> #} {{ ingredient.name.sellingUnits }}</td>
                        <td>
                        {% if ingredient.date|increaseTimeWithDays:ingredient.name.shelfLife > timeNow %}
                            <label class="badge badge-success">Придатно</label>
                        {% else %}
                            <label class="badge badge-danger">Зіпсовано</label>
                        {% endif %}
                        </td>
                        <td><a href="{% url "managerIngredientEdit" ingredient.id %}"><button type="button" class="btn btn-secondary btn-sm">Детально</button></a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

            {#  PAGINATION  #}
            {% if ingredients.has_other_pages %}
                <div class="btn-group" role="group">
                        {% if ingredients.number != 1 %}
                            <a class="page-link" href="{% url "managerIngredientsList" 1 %}">1</a>
                        {% endif %}

                        {% if ingredients.has_previous and ingredients.previous_page_number != 1 %}

                            {% if ingredients.previous_page_number > 4 %}
                                <a class="page-link">. . .</a>
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.previous_page_number|add:'-1' %}/">{{ ingredients.previous_page_number|add:'-1' }}</a>
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.previous_page_number %}">{{ ingredients.previous_page_number }}</a>
                            {% elif ingredients.previous_page_number == 4 %}
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.previous_page_number|add:'-2' %}">{{ ingredients.previous_page_number|add:'-2' }}</a>
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.previous_page_number|add:'-1' %}">{{ ingredients.previous_page_number|add:'-1' }}</a>
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.previous_page_number %}">{{ ingredients.previous_page_number }}</a>
                            {% elif ingredients.previous_page_number == 3 %}
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.previous_page_number|add:'-1' %}">{{ ingredients.previous_page_number|add:'-1' }}</a>
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.previous_page_number %}">{{ ingredients.previous_page_number }}</a>
                            {% elif ingredients.previous_page_number == 2 %}
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.previous_page_number %}">{{ ingredients.previous_page_number }}</a>
                            {% endif %}

                        {% endif %}

                        <a href="" class="page-link">{{ ingredients.number }}</a>


                        {% if ingredients.has_next %}

                            {% if ingredients.next_page_number < ingredients.paginator.num_pages|add:'-4' %}
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.next_page_number %}">{{ ingredients.next_page_number }}</a>
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.next_page_number|add:'1' %}">{{ ingredients.next_page_number|add:'1' }}</a>
                                <a class="page-link">. . .</a>
                            {% elif ingredients.next_page_number < ingredients.paginator.num_pages|add:'-3' %}
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.next_page_number %}">{{ ingredients.next_page_number }}</a>
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.next_page_number|add:'1' %}">{{ ingredients.next_page_number|add:'1' }}</a>
                                <a class="page-link">. . .</a>
                            {% elif ingredients.next_page_number < ingredients.paginator.num_pages|add:'-2' %}
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.next_page_number %}">{{ ingredients.next_page_number }}</a>
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.next_page_number|add:'1' %}">{{ ingredients.next_page_number|add:'1' }}</a>
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.next_page_number|add:'2' %}">{{ ingredients.next_page_number|add:'2' }}</a>
                            {% elif ingredients.next_page_number < ingredients.paginator.num_pages|add:'-1' %}
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.next_page_number %}">{{ ingredients.next_page_number }}</a>
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.next_page_number|add:'1' %}">{{ ingredients.next_page_number|add:'1' }}</a>
                            {% elif ingredients.next_page_number < ingredients.paginator.num_pages %}
                                <a class="page-link" href="{% url "managerIngredientsList" ingredients.next_page_number %}">{{ ingredients.next_page_number }}</a>
                            {% endif %}

                            <a class="page-link" href="{% url "managerIngredientsList" ingredients.paginator.num_pages %}">{{ ingredients.paginator.num_pages }}</a>

                        {% endif %}
                </div>
            {% endif %}
{% endblock %}