{% extends "manager/base.html" %}
{% load static %}

{% block add_media %}
{% endblock %}

{% block content %}
    <h1>Додати транзит інгредієнтів</h1>

    <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-body col-6">
                <form action="" method="POST" id="dishForm">
                    {% csrf_token %}


                    <div class="form-group">
                        <label for="name">Кафе-вiдправник</label>

                        {% if ingrTransit.from_cafe.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in ingrTransit.from_cafe.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                          <select class="form-control" name="from_cafe" id="id_from_cafe">
                              {% for id, name in ingrTransit.fields.from_cafe.choices %}
                                  <option value="{{ id }}" {% if ingrTransit.from_cafe.value|toStr == id|toStr %}selected{% endif %}>{{ name }}</option>
                              {% endfor %}
                          </select>
                    </div>

                    <div class="form-group">
                        <label for="name">Кафе-отримувач</label>

                        {% if ingrTransit.to_cafe.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in ingrTransit.to_cafe.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                          <select class="form-control" name="to_cafe" id="id_to_cafe">
                              {% for id, name in ingrTransit.fields.to_cafe.choices %}
                                  <option value="{{ id }}" {% if ingrTransit.to_cafe.value|toStr == id|toStr %}selected{% endif %}>{{ name }}</option>
                              {% endfor %}
                          </select>
                    </div>


                    <br>
                    <div class="form-group">
                        <h4>Iнгредієнти</h4>
                        <table class="table" id="ingrForms">
                            {{ formset.management_form }}

                            {% for form in formset.forms %}
                                {% if forloop.first %}
                                    <thead>
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <th>{{ field.label|capfirst }}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                {% endif %}
                                <tr class="ingredient formset_row">
                                    {% for field in form.visible_fields %}
                                        <td>
                                            {# Include the hidden fields in the form #}
                                            {% if forloop.first %}
                                                {% for hidden in form.hidden_fields %}
                                                    {{ hidden }}
                                                {% endfor %}
                                            {% endif %}
                                            {{ field.errors.as_ul }}
                                            {{ field }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <br>

                    <input type="submit" class="btn btn-success btn-rounded btn-fw"
                           value="{% if mode == "add" %}Додати{% else %}Зберегти{% endif %}">
                    <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-secondary btn-rounded btn-fw">Назад</button></a>
                </form>

            </div>
          </div>
        </div>
    </div>

    <script src="{% static 'formset/jquery.formset.js' %}"></script>

    <script type="text/javascript">
        $('.formset_row').formset({
            addText: 'Додати ще',
            deleteText: 'Видалити',
        });


        document.getElementById('ingrForms').addEventListener("change", function(event) {
            var elem = event.target;

            if (elem.tagName === "SELECT") {
                regex = "id_.{0,}_set-(.{0,})-.{0,}";
                formId = elem.id.match(regex);
                id = elem.value;

                tr = elem.parentElement.parentElement;

                if (id) {
                    $.ajax({
                        url: "/manager/ingredient-name/get-units/" + id + "/",
                        type: "GET",
                        dataType: "json",
                        success: function(response) {
                            var sellingUnits = response.sellingUnits;

                            $(tr).find(".units").each(function() {
                               this.innerText = sellingUnits;
                            });
                        },
                        error: function(response) {}
                    });
                }

            }
        });

    </script>

{% endblock %}