{% extends "manager/base.html" %}
{% load static %}

{% block add_media %}
{% endblock %}

{% block content %}
    <h1>Список замовлень</h1>

    <div class=" grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Час замовлення</th>
                    <th>Повинно бути виконано</th>
                    <th>Замовник</th>
                    <th>Статус</th>
                    <th>Детально</th>
{#                    <th></th>#}
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.order.id }}</td>
                        <td>{{ order.order.datetime }}</td>
                        <td>{{ order.order.datetime|increaseTimeByMins:order.waiting_time }}</td>
                        <td>{{ order.order.user.get_full_name }}</td>
                        <td>
                        {% if order.is_done %}
                            <label class="badge badge-success">Готово</label>
                        {% else %}
                            <label class="badge badge-danger">Очікує</label>
                        {% endif %}
                        </td>
                        <td><a href="{% url "managerOrderDetails" order.id %}"><button type="button" class="btn btn-secondary btn-sm">Детально</button></a></td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {#  PAGINATION  #}
    {% if orders.has_other_pages %}
        <div class="btn-group" role="group">
                {% if orders.number != 1 %}
                    <a class="page-link" href="{% url "managerOrdersList" 1 %}">1</a>
                {% endif %}

                {% if orders.has_previous and orders.previous_page_number != 1 %}

                    {% if orders.previous_page_number > 4 %}
                        <a class="page-link">. . .</a>
                        <a class="page-link" href="{% url "managerOrdersList" orders.previous_page_number|add:'-1' %}/">{{ orders.previous_page_number|add:'-1' }}</a>
                        <a class="page-link" href="{% url "managerOrdersList" orders.previous_page_number %}">{{ orders.previous_page_number }}</a>
                    {% elif orders.previous_page_number == 4 %}
                        <a class="page-link" href="{% url "managerOrdersList" orders.previous_page_number|add:'-2' %}">{{ orders.previous_page_number|add:'-2' }}</a>
                        <a class="page-link" href="{% url "managerOrdersList" orders.previous_page_number|add:'-1' %}">{{ orders.previous_page_number|add:'-1' }}</a>
                        <a class="page-link" href="{% url "managerOrdersList" orders.previous_page_number %}">{{ orders.previous_page_number }}</a>
                    {% elif orders.previous_page_number == 3 %}
                        <a class="page-link" href="{% url "managerOrdersList" orders.previous_page_number|add:'-1' %}">{{ orders.previous_page_number|add:'-1' }}</a>
                        <a class="page-link" href="{% url "managerOrdersList" orders.previous_page_number %}">{{ orders.previous_page_number }}</a>
                    {% elif orders.previous_page_number == 2 %}
                        <a class="page-link" href="{% url "managerOrdersList" orders.previous_page_number %}">{{ orders.previous_page_number }}</a>
                    {% endif %}

                {% endif %}

                <a href="" class="page-link">{{ orders.number }}</a>


                {% if orders.has_next %}

                    {% if orders.next_page_number < orders.paginator.num_pages|add:'-4' %}
                        <a class="page-link" href="{% url "managerOrdersList" orders.next_page_number %}">{{ orders.next_page_number }}</a>
                        <a class="page-link" href="{% url "managerOrdersList" orders.next_page_number|add:'1' %}">{{ orders.next_page_number|add:'1' }}</a>
                        <a class="page-link">. . .</a>
                    {% elif orders.next_page_number < orders.paginator.num_pages|add:'-3' %}
                        <a class="page-link" href="{% url "managerOrdersList" orders.next_page_number %}">{{ orders.next_page_number }}</a>
                        <a class="page-link" href="{% url "managerOrdersList" orders.next_page_number|add:'1' %}">{{ orders.next_page_number|add:'1' }}</a>
                        <a class="page-link">. . .</a>
                    {% elif orders.next_page_number < orders.paginator.num_pages|add:'-2' %}
                        <a class="page-link" href="{% url "managerOrdersList" orders.next_page_number %}">{{ orders.next_page_number }}</a>
                        <a class="page-link" href="{% url "managerOrdersList" orders.next_page_number|add:'1' %}">{{ orders.next_page_number|add:'1' }}</a>
                        <a class="page-link" href="{% url "managerOrdersList" orders.next_page_number|add:'2' %}">{{ orders.next_page_number|add:'2' }}</a>
                    {% elif orders.next_page_number < orders.paginator.num_pages|add:'-1' %}
                        <a class="page-link" href="{% url "managerOrdersList" orders.next_page_number %}">{{ orders.next_page_number }}</a>
                        <a class="page-link" href="{% url "managerOrdersList" orders.next_page_number|add:'1' %}">{{ orders.next_page_number|add:'1' }}</a>
                    {% elif orders.next_page_number < orders.paginator.num_pages %}
                        <a class="page-link" href="{% url "managerOrdersList" orders.next_page_number %}">{{ orders.next_page_number }}</a>
                    {% endif %}

                    <a class="page-link" href="{% url "managerOrdersList" orders.paginator.num_pages %}">{{ orders.paginator.num_pages }}</a>

                {% endif %}
        </div>
    {% endif %}
{% endblock %}