{% extends "manager/base.html" %}
{% load static %}

{% block add_media %}
{% endblock %}

{% block content %}
    <h1>Деталi замовлення #{{ order.order.id }}</h1>


    <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

                <h3>Страви</h3>
                <table class="table table-hover">
                  <thead>
                    <tr>
                        <th>Назва</th>
                        <th>К-ть</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for dish in dishes %}
                        <tr>
                            <td>{{ dish.dish.name }}</td>
                            <td>{{ dish.qty }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <br>
                {% if order.is_done %}
                    <button type="button" id="orderStatus" class="btn btn-success btn-rounded btn-fw" title="Натисніть, щоб змінити статус" onclick="toggleStatus()">Готово</button>
                {% else %}
                    <button type="button" id="orderStatus" class="btn btn-danger btn-rounded btn-fw" title="Натисніть, щоб змінити статус" onclick="toggleStatus()">Очікує</button>
                {% endif %}
                <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-secondary btn-rounded btn-fw">Назад</button></a>
            </div>
          </div>
        </div>
    </div>

    <script type="application/javascript">
        function toggleStatus() {
            $.ajax({
                url: "",
                type: "POST",
                dataType: "json",
                data: {
                    "action": "toggleStatus",
                },
                success: function(response) {
                    if (response.status === true) {
                        var currentStatus = document.getElementById('orderStatus');
                        if (currentStatus.outerHTML) {
                                currentStatus.outerHTML = "<button type=\"button\" id=\"orderStatus\" class=\"btn btn-success btn-rounded btn-fw\" " +
                                    "title=\"Натисніть, щоб змінити статус\" onclick=\"toggleStatus(0)\">Готово</button>";
                        }
                    }

                },
                error: function(response) {}
            })
        }
    </script>

{% endblock %}