{% extends "manager/base.html" %}
{% load static %}

{% block add_media %}
{% endblock %}

{% block content %}
    <h1>Список заготовлених страв</h1>

    <div class=" grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <a href="{% url "managerPreparedDishAdd" %}"><button type="button" class="btn btn-success btn-rounded btn-fw">Додати</button></a>
          <br><br>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                    <th>Страва</th>
                    <th>К-ть</th>
                    <th>Приготована</th>
                    <th>Зіпсується</th>
                    <th>Статус</th>
{#                    <th>Детально</th>#}
                </tr>
              </thead>
              <tbody>
                {% for dish in dishes %}
                    <tr>
                        <td>{{ dish.dish.name }}</td>
                        <td>{{ dish.qty }}</td>
                        <td>{{ dish.add_time }}</td>
                        <td>{{ dish.add_time|increaseTimeByMins:dish.dish.prepared_lifetime }}</td>
                        <td>
                        {% if dish.add_time|increaseTimeByMins:dish.dish.prepared_lifetime > timeNow %}
                            <label class="badge badge-success">Придатно</label>
                        {% else %}
                            <label class="badge badge-danger">Зіпсовано</label>
                        {% endif %}
                        </td>
{#                        <td><a href="{% url "managerDishDetails" dish.id %}"><button type="button" class="btn btn-secondary btn-sm">Детально</button></a></td> {#{% url "managerDishDetails" dish.id %}#}
                    </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

            {#  PAGINATION  #}
            {% if dishes.has_other_pages %}
                <div class="btn-group" role="group">
                        {% if dishes.number != 1 %}
                            <a class="page-link" href="{% url "managerdishesList" 1 %}">1</a>
                        {% endif %}

                        {% if dishes.has_previous and dishes.previous_page_number != 1 %}

                            {% if dishes.previous_page_number > 4 %}
                                <a class="page-link">. . .</a>
                                <a class="page-link" href="{% url "managerdishesList" dishes.previous_page_number|add:'-1' %}/">{{ dishes.previous_page_number|add:'-1' }}</a>
                                <a class="page-link" href="{% url "managerdishesList" dishes.previous_page_number %}">{{ dishes.previous_page_number }}</a>
                            {% elif dishes.previous_page_number == 4 %}
                                <a class="page-link" href="{% url "managerdishesList" dishes.previous_page_number|add:'-2' %}">{{ dishes.previous_page_number|add:'-2' }}</a>
                                <a class="page-link" href="{% url "managerdishesList" dishes.previous_page_number|add:'-1' %}">{{ dishes.previous_page_number|add:'-1' }}</a>
                                <a class="page-link" href="{% url "managerdishesList" dishes.previous_page_number %}">{{ dishes.previous_page_number }}</a>
                            {% elif dishes.previous_page_number == 3 %}
                                <a class="page-link" href="{% url "managerdishesList" dishes.previous_page_number|add:'-1' %}">{{ dishes.previous_page_number|add:'-1' }}</a>
                                <a class="page-link" href="{% url "managerdishesList" dishes.previous_page_number %}">{{ dishes.previous_page_number }}</a>
                            {% elif dishes.previous_page_number == 2 %}
                                <a class="page-link" href="{% url "managerdishesList" dishes.previous_page_number %}">{{ dishes.previous_page_number }}</a>
                            {% endif %}

                        {% endif %}

                        <a href="" class="page-link">{{ dishes.number }}</a>


                        {% if dishes.has_next %}

                            {% if dishes.next_page_number < dishes.paginator.num_pages|add:'-4' %}
                                <a class="page-link" href="{% url "managerdishesList" dishes.next_page_number %}">{{ dishes.next_page_number }}</a>
                                <a class="page-link" href="{% url "managerdishesList" dishes.next_page_number|add:'1' %}">{{ dishes.next_page_number|add:'1' }}</a>
                                <a class="page-link">. . .</a>
                            {% elif dishes.next_page_number < dishes.paginator.num_pages|add:'-3' %}
                                <a class="page-link" href="{% url "managerdishesList" dishes.next_page_number %}">{{ dishes.next_page_number }}</a>
                                <a class="page-link" href="{% url "managerdishesList" dishes.next_page_number|add:'1' %}">{{ dishes.next_page_number|add:'1' }}</a>
                                <a class="page-link">. . .</a>
                            {% elif dishes.next_page_number < dishes.paginator.num_pages|add:'-2' %}
                                <a class="page-link" href="{% url "managerdishesList" dishes.next_page_number %}">{{ dishes.next_page_number }}</a>
                                <a class="page-link" href="{% url "managerdishesList" dishes.next_page_number|add:'1' %}">{{ dishes.next_page_number|add:'1' }}</a>
                                <a class="page-link" href="{% url "managerdishesList" dishes.next_page_number|add:'2' %}">{{ dishes.next_page_number|add:'2' }}</a>
                            {% elif dishes.next_page_number < dishes.paginator.num_pages|add:'-1' %}
                                <a class="page-link" href="{% url "managerdishesList" dishes.next_page_number %}">{{ dishes.next_page_number }}</a>
                                <a class="page-link" href="{% url "managerdishesList" dishes.next_page_number|add:'1' %}">{{ dishes.next_page_number|add:'1' }}</a>
                            {% elif dishes.next_page_number < dishes.paginator.num_pages %}
                                <a class="page-link" href="{% url "managerdishesList" dishes.next_page_number %}">{{ dishes.next_page_number }}</a>
                            {% endif %}

                            <a class="page-link" href="{% url "managerdishesList" dishes.paginator.num_pages %}">{{ dishes.paginator.num_pages }}</a>

                        {% endif %}
                </div>
            {% endif %}
{% endblock %}