{% extends "manager/base.html" %}
{% load static %}

{% block add_media %}
{% endblock %}

{% block content %}
    <h1>Заготовлена страва "{{ dish.dish.name }}"</h1>


    <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-body">

                <br>
{#                {% if order.is_done %}#}
{#                    <button type="button" class="btn btn-success btn-rounded btn-fw" title="Натисніть, щоб змінити статус">Готово</button>#}
{#                {% else %}#}
{#                    <button type="button" class="btn btn-danger btn-rounded btn-fw" title="Натисніть, щоб змінити статус">Очікує</button>#}
{#                {% endif %}#}


                {% if dish.add_time|increaseTimeByMins:dish.dish.prepared_lifetime > timeNow %}
                    <button type="button" class="btn btn-success btn-rounded btn-fw">Придатно</button>
                {% else %}
                    <button type="button" class="btn btn-danger btn-rounded btn-fw">Зіпсовано</button>
                {% endif %}
                <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-secondary btn-rounded btn-fw">Назад</button></a>
            </div>
          </div>
        </div>
    </div>

{% endblock %}