{% extends "manager/base.html" %}
{% load static %}

{% block add_media %}
{% endblock %}

{% block content %}
    <h1>Додати заготовлену страву</h1>


    <div class="row flex-grow">
        <div class="col-12">
          <div class="card">
            <div class="card-body col-4">
                <form action="" method="POST">
                    {% csrf_token %}



                    <div class="form-group">
                        <label for="cafe">Адреса</label>

                        {% if form.cafe.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in form.cafe.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <select class="form-control" name="cafe" id="cafe">
                            {% for id, name in form.fields.cafe.choices %}
                                {% if name == cafeAddress %}
                                    <option value="{{ id }}">{{ name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <br>

                    <div class="form-group">
                        <label for="dish">Страва</label>

                        {% if form.dish.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in form.dish.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <select class="form-control" name="dish" id="dish">
                            {% for id, name in form.fields.dish.choices %}
                                <option value="{{ id }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <br>

                    <div class="form-group">
                        <label for="qty">Кiлькiсть</label>

                        {% if form.qty.errors %}
                            <ul class="list-ticked text-small">
                            {% for error in form.qty.errors %}
                                <li class="text-danger"><span>{{ error|escape }}</span></li>
                            {% endfor %}
                            </ul>
                        {% endif %}

                        <input type="number" class="form-control" id="qty" name="qty" placeholder="Введіть к-ть заготовлених страв">
                    </div>

                    <br>
                    <input type="submit" class="btn btn-success btn-rounded btn-fw" value="Додати">
                    <a href="{{ request.META.HTTP_REFERER }}"><button type="button" class="btn btn-secondary btn-rounded btn-fw">Назад</button></a>
                </form>

            </div>
          </div>
        </div>
    </div>

{% endblock %}