{% extends "manager/base.html" %}
{% load static %}

{% block add_media %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
{% endblock %}

{% block content %}
    <h1>Статистика</h1>

    <div class=" grid-margin stretch-card col-7">

      <div class="card">
        <div class="card-body">
            <h4>Замовлення</h4>
            <canvas id="dishesCanvas" height="250px" width="700px"></canvas>
        </div>
      </div>
    </div>

    <div class=" grid-margin stretch-card col-7">

      <div class="card">
        <div class="card-body">
            <h4>Інгредієнти</h4>
            <canvas id="ingredientsCanvas" height="250px" width="700px"></canvas>
        </div>
      </div>
    </div>

    <div class=" grid-margin stretch-card col-7">

      <div class="card">
        <div class="card-body">
            <h4>Прибуток</h4>
            <canvas id="profitCanvas" height="250px" width="700px"></canvas>
        </div>
      </div>
    </div>

    <script>



    $.ajax({
        url: "{% url "managerStatisticsGet" %}",
        type: "GET",
        dataType: "json",
        success: function(response) {

            var labels = [];
            var ordered_dishes_qty = [];
            var bought_ingredients = [];
            var used_ingredients = [];
            var overdued_ingredients = [];
            var total_profit = [];

            var months = {
                "1": "січня",
                "2": "лютого",
                "3": "березня",
                "4": "квітня",
                "5": "травня",
                "6": "червня",
                "7": "липня",
                "8": "серпня",
                "9": "вересня",
                "10": "жовтня",
                "11": "листопада",
                "12": "грудня",
            };

            for (i=0; i < response.length; i++) {
                var el = response[i];

                // year-month-day => day+monthName
                var date = el.date;
                var date_ = "";
                date_ = date.split(/[-]/);
                month = months[date_[1]];
                day = date_[2];

                labels.push(day + " " + month);

                ordered_dishes_qty.push(el.ordered_dishes_qty);
                bought_ingredients.push(el.bought_ingredients);
                used_ingredients.push(el.used_ingredients);
                overdued_ingredients.push(el.overdued_ingredients);
                total_profit.push(el.total_profit);

            }

            var dishesChart = new Chart($("#dishesCanvas"), {
                type: "line",
                data: {
                  labels: labels,
                  datasets: [{
                    label: "К-ть замовлених страв",
                    data: ordered_dishes_qty,
                  }]
                },
            });

            var ingredientsChart = new Chart($("#ingredientsCanvas"), {
                type: "line",
                data: {
                  labels: labels,
                  datasets: [
                    {
                        label: "Вартiсть замовлених інгредієнтів",
                        data: bought_ingredients,
                        fill: false,
                        borderColor: 'purple',
                    },
                    {
                        label: "Вартiсть витрачених інгредієнтів",
                        data: used_ingredients,
                        fill: false,
                        borderColor: 'green',
                    },
                    {
                        label: "Вартiсть зіпсованих інгредієнтів",
                        data: overdued_ingredients,
                        fill: false,
                        borderColor: 'red',
                    },
                  ]
                },
            });

            var profitChart = new Chart($("#profitCanvas"), {
                type: "line",
                data: {
                  labels: labels,
                  datasets: [{
                    backgroundColor: '#ceffad',
                    borderColor: "green",
                    label: "Сума прибутку",
                    data: total_profit,
                  }]
                },
            });
        },
        error: function(response) {
            console.log("ERROR:", response);
        }
    });

    </script>

{% endblock %}