html, body
{
    margin: 0;
    padding: 10px;
}

@font-face {
    font-family:mPlus;
    src: url(./mPlus.ttf);
}

.go-to-admin
{
    z-index: 9999999;
}


@media screen and (min-width:1080px) {
    .go-to-admin {
        position:fixed;
        bottom:250px;
        right:0px;
        width:100px;
        height:50px;
        font:20px/25px mPlus;
        color:white;
        background:#c83232;
        text-decoration:none;
        padding:10px 0 10px 10px;
    }
}

@media screen and (max-width:1080px) {
    .go-to-admin {
        position:fixed;
        bottom:250px;
        right:0px;
        width:150px;
        height:80px;
        font:32px/40px mPlus;
        color:white;
        background:#c83232;
        text-decoration:none;
        padding:15px 0 15px 15px;
    }
}