@font-face {
  font-family: DroidSans;
  src: url("../../fonts/DroidSans-Bold.ttf"); }

@font-face {
  font-family: mPlus;
  src: url("../../fonts/MPLUSRounded1c-Light.ttf"); }

@font-face {
  font-family: Lobster;
  src: url("../../fonts/Lobster-Regular.ttf"); }

@font-face {
  font-family: CormorantInfant;
  src: url("../fonts/CormorantInfant-LightItalic.ttf"); }

@font-face {
  font-family: CormorantInfantBold;
  src: url("../fonts/CormorantInfant-BoldItalic.ttf"); }

@font-face {
  font-family: Aileron;
  src: url("../../fonts/Aileron-UltraLight.otf"); }

@font-face {
  font-family: OpenSans;
  src: url("../../fonts/OpenSans.ttf"); }

@font-face {
  font-family: FuturaPT;
  src: url("../../fonts/FuturaPT-Heavy.woff2"); }

@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: Building;
  src: url("../../fonts/Building_Typeface.ttf"); }

html, body::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
  height: 0px; }

header, header > div, .menu div:nth-of-type(1), .menu div:nth-of-type(1) font div {
  display: -webkit-flex;
  display: flex; }

body {
  background: white; }

header {
  position: absolute;
  left: 0px;
  top: 60px;
  height: 400px;
  width: 100%;
  background-image: url(../../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  align-items: center;
  -webkit-align-items: center;
  overflow: hidden;
  z-index: 1; }

header > div {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  align-items: center;
  -webkit-align-items: center; }
  header > div h1 {
    width: 100%;
    text-align: center;
    font: 56px CormorantInfantBold;
    color: white;
    cursor: default; }
    header > div h1 span {
      font: 42px CormorantInfant; }

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 100%;
  background: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  z-index: 10000; }
  .menu div:nth-of-type(1) {
    position: absolute;
    left: calc(50% - 400px);
    top: 0px;
    width: 800px;
    height: 100%;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center; }
    .menu div:nth-of-type(1) font {
      text-decoration: none;
      color: black;
      font: 18px/60px mPlus;
      transition: 350ms;
      position: relative;
      margin: 0px 20px;
      cursor: pointer;
      height: 100%; }
      .menu div:nth-of-type(1) font font {
        margin: 0px 0px; }
      .menu div:nth-of-type(1) font div {
        position: absolute;
        padding: 0px 5px;
        left: -25px;
        top: 100%;
        width: calc(100% + 40px);
        background: white;
        box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        -webkit-flex-direction: column;
        height: 0px;
        transition: 350ms;
        overflow: hidden; }
        .menu div:nth-of-type(1) font div a {
          margin: 10px 0;
          font: 14px mPlus;
          color: black; }
    .menu div:nth-of-type(1) a {
      text-decoration: none;
      color: black;
      font: 18px mPlus;
      transition: 350ms;
      position: relative;
      margin: 0px 20px; }

.href-about-cafe {
  position: relative; }

.href-about-cafe::after {
  content: '';
  display: block;
  position: absolute;
  right: -12px;
  width: 0px;
  height: 0px;
  top: 50%;
  border: solid 5px rgba(0, 0, 0, 0);
  border-top: solid 5px black;
  transition: 350ms;
  z-index: 1; }

@media screen and (min-width: 1366px) {
  article {
    position: absolute;
    left: 0px;
    top: 500px;
    width: 100%;
    background: white;
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    overflow: hidden;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;}
    article section:nth-of-type(1) {
      width: calc(100% - 650px);
      left: 100px;
      position: relative; }
      article section:nth-of-type(1) div {
        float: top;
        position: relative;
        width: 100%; }
        article section:nth-of-type(1) div img {
          position: relative;
          width: calc(100% - 400px);
          box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5); }
        article section:nth-of-type(1) div div {
          display: block;
          position: absolute;
          width: 360px;
          right: 20px;
          top: 0px; }
          article section:nth-of-type(1) div div h3 {
            position: relative;
            width: 100%;
            text-align: center;
            color: #c83232;
            font: 28px Lobster; }
          article section:nth-of-type(1) div div p {
            position: relative;
            width: 100%;
            margin: 5px 0px;
            font: 16px mPlus;
            color: #404040; }
      article section:nth-of-type(1) h1 {
        font: 24px mPlus;
        color: #c83232;
        position: relative;
        width: calc(100% - 300px); }
        article section:nth-of-type(1) h1 font:nth-of-type(1) {
          position: absolute;
          right: 0px;
          top: 0px;
          font: 32px Lobster;
          color: #c83232; }
      article section:nth-of-type(1) button {
        position: relative;
        width: 250px;
        left: calc(100% - 300px);
        height: 40px;
        background: white;
        color: #c83232;
        border: solid 2px #c83232;
        font: 24px Roboto;
        cursor: pointer;
        outline: none;
        transition: 350ms;
        margin: 25px 0; }
      article section:nth-of-type(1) button:hover {
        background: #c83232;
        color: white; }
      article section:nth-of-type(1) font:nth-of-type(1) {
        position: relative;
        float: top;
        font: 16px mPlus;
        color: #404040; }
    article section:nth-of-type(2) {
      position: relative;
      width: 500px;
      left: 100px;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      justify-content: space-around;
      -webkit-justify-content: space-around;
      align-content: flex-start;
      -webkit-align-content: flex-start;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap; }
      article section:nth-of-type(2) h3 {
        position: relative;
        width: 100%;
        text-align: center;
        color: #c83232;
        font: 28px Lobster;
        height: 40px; }
      article section:nth-of-type(2) h3::after {
        position: absolute;
        content: '';
        display: block;
        width: 100px;
        height: 17px;
        background-image: url("../img/red.png");
        background-size: cover;
        bottom: -22px;
        left: calc(50% - 50px); }
      article section:nth-of-type(2) div {
        width: 100%;
        position: relative;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        align-content: flex-start;
        -webkit-align-content: flex-start;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap; }
        article section:nth-of-type(2) div div {
          position: relative;
          width: 400px;
          height: 100px;
          margin: 10px 0px; }
          article section:nth-of-type(2) div div div {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            margin: 0 0 0 0;
            cursor: pointer; }
          article section:nth-of-type(2) div div img {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100px;
            height: 100px;
            border-radius: 50%; }
          article section:nth-of-type(2) div div h4 {
            position: absolute;
            left: 110px;
            top: 15px;
            width: 290px;
            font: 18px/18px mPlus;
            color: #c83232;
            margin: 0 0 0 0; }
          article section:nth-of-type(2) div div font {
            position: absolute;
            left: 110px;
            top: 35px;
            font: 16px mPlus;
            color: grey; }
          article section:nth-of-type(2) div div span {
            position: absolute;
            left: 110px;
            bottom: 15px;
            font: 20px Roboto;
            color: #c83232; } }

@media screen and (min-width: 1080px) and (max-width: 1366px) {
  article {
    position: absolute;
    left: 0px;
    top: 500px;
    width: 100%;
    background: white;
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    overflow: hidden; }
    article section:nth-of-type(1) {
      width: calc(100% - 550px);
      left: 100px;
      position: relative; }
      article section:nth-of-type(1) div {
        float: top;
        position: relative;
        width: 100%; }
        article section:nth-of-type(1) div img {
          position: relative;
          width: calc(100% - 300px);
          box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5); }
        article section:nth-of-type(1) div div {
          display: block;
          position: absolute;
          width: 260px;
          right: 20px;
          top: 0px; }
          article section:nth-of-type(1) div div h3 {
            position: relative;
            width: 100%;
            text-align: center;
            color: #c83232;
            font: 28px Lobster; }
          article section:nth-of-type(1) div div p {
            position: relative;
            width: 100%;
            margin: 5px 0px;
            font: 16px mPlus;
            color: #404040; }
      article section:nth-of-type(1) h1 {
        font: 24px mPlus;
        color: #c83232;
        position: relative;
        width: calc(100% - 300px); }
        article section:nth-of-type(1) h1 font:nth-of-type(1) {
          position: absolute;
          right: 0px;
          top: 0px;
          font: 32px Lobster;
          color: #c83232; }
      article section:nth-of-type(1) button {
        position: relative;
        width: 250px;
        left: calc(100% - 300px);
        height: 40px;
        background: white;
        color: #c83232;
        border: solid 2px #c83232;
        font: 24px Roboto;
        cursor: pointer;
        outline: none;
        transition: 350ms;
        margin: 25px 0; }
      article section:nth-of-type(1) button:hover {
        background: #c83232;
        color: white; }
      article section:nth-of-type(1) font:nth-of-type(1) {
        position: relative;
        float: top;
        font: 16px mPlus;
        color: #404040; }
    article section:nth-of-type(2) {
      position: relative;
      width: 500px;
      left: 100px;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      justify-content: space-around;
      -webkit-justify-content: space-around;
      align-content: flex-start;
      -webkit-align-content: flex-start;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap; }
      article section:nth-of-type(2) h3 {
        position: relative;
        width: 100%;
        text-align: center;
        color: #c83232;
        font: 28px Lobster;
        height: 40px; }
      article section:nth-of-type(2) h3::after {
        position: absolute;
        content: '';
        display: block;
        width: 100px;
        height: 17px;
        background-image: url("../img/red.png");
        background-size: cover;
        bottom: -22px;
        left: calc(50% - 50px); }
      article section:nth-of-type(2) div {
        width: 100%;
        position: relative;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        align-content: flex-start;
        -webkit-align-content: flex-start;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap; }
        article section:nth-of-type(2) div div {
          position: relative;
          width: 400px;
          height: 100px;
          margin: 10px 0px; }
          article section:nth-of-type(2) div div div {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            margin: 0 0 0 0;
            cursor: pointer; }
          article section:nth-of-type(2) div div img {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100px;
            height: 100px;
            border-radius: 50%; }
          article section:nth-of-type(2) div div h4 {
            position: absolute;
            left: 110px;
            top: 15px;
            width: 290px;
            font: 18px/18px mPlus;
            color: #c83232;
            margin: 0 0 0 0; }
          article section:nth-of-type(2) div div font {
            position: absolute;
            left: 110px;
            top: 35px;
            font: 16px mPlus;
            color: grey; }
          article section:nth-of-type(2) div div span {
            position: absolute;
            left: 110px;
            bottom: 15px;
            font: 20px Roboto;
            color: #c83232; } }

@media screen and (max-width: 1080px) {
  article {
    position: absolute;
    left: 0px;
    top: 500px;
    width: 100%;
    background: white;
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    overflow: hidden; }
    article section:nth-of-type(1) {
      width: calc(100% - 20px);
      left: 10px;
      position: relative; }
      article section:nth-of-type(1) div {
        float: top;
        position: relative;
        width: 100%; }
        article section:nth-of-type(1) div img {
          position: relative;
          width: calc(100% - 300px);
          box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5); }
        article section:nth-of-type(1) div div {
          display: block;
          position: absolute;
          width: 260px;
          right: 20px;
          top: 0px; }
          article section:nth-of-type(1) div div h3 {
            position: relative;
            width: 100%;
            text-align: center;
            color: #c83232;
            font: 42px Lobster; }
          article section:nth-of-type(1) div div p {
            position: relative;
            width: 100%;
            margin: 5px 0px;
            font: 28px mPlus;
            color: #404040; }
      article section:nth-of-type(1) h1 {
        font: 42px mPlus;
        color: #c83232;
        position: relative;
        width: calc(100% - 300px); }
        article section:nth-of-type(1) h1 font:nth-of-type(1) {
          position: absolute;
          right: 0px;
          top: 0px;
          font: 48px Lobster;
          color: #c83232; }
      article section:nth-of-type(1) button {
        position: relative;
        width: 450px;
        left: calc(100% - 500px);
        height: 60px;
        background: white;
        color: #c83232;
        border: solid 2px #c83232;
        font: 36px Roboto;
        cursor: pointer;
        outline: none;
        transition: 350ms;
        margin: 25px 0; }
      article section:nth-of-type(1) button:hover {
        background: #c83232;
        color: white; }
      article section:nth-of-type(1) font:nth-of-type(1) {
        position: relative;
        float: top;
        font: 28px mPlus;
        color: #404040; }
    article section:nth-of-type(2) {
      position: relative;
      width: 100%;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      justify-content: center;
      -webkit-justify-content: center;
      align-content: flex-start;
      -webkit-align-content: flex-start;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap; }
      article section:nth-of-type(2) h3 {
        position: relative;
        width: 100%;
        text-align: center;
        color: #c83232;
        font: 42px Lobster;
        height: 40px; }
      article section:nth-of-type(2) h3::after {
        position: absolute;
        content: '';
        display: block;
        width: 200px;
        height: 34px;
        background-image: url("../img/red.png");
        background-size: cover;
        bottom: -44px;
        left: calc(50% - 100px); }
      article section:nth-of-type(2) div {
        position: relative;
        width: 100%;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        align-content: center;
        -webkit-align-content: center;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap; }
        article section:nth-of-type(2) div div {
          position: relative;
          width: 650px;
          height: 250px;
          margin: 10px 25px; }
          article section:nth-of-type(2) div div div {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            margin: 0 0 0 0;
            cursor: pointer; }
          article section:nth-of-type(2) div div img {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 250px;
            height: 250px;
            border-radius: 50%; }
          article section:nth-of-type(2) div div h4 {
            position: absolute;
            left: 260px;
            top: 25px;
            width: 390px;
            font: 32px/32px mPlus;
            color: #c83232;
            margin: 0 0 0 0; }
          article section:nth-of-type(2) div div font {
            position: absolute;
            left: 260px;
            top: 70px;
            font: 28px mPlus;
            color: grey; }
          article section:nth-of-type(2) div div span {
            position: absolute;
            left: 260px;
            bottom: 25px;
            font: 42px Roboto;
            color: #c83232; } }
