@font-face {
  font-family: DroidSans;
  src: url("../fonts/DroidSans-Bold.ttf"); }

@font-face {
  font-family: mPlus;
  src: url("../fonts/MPLUSRounded1c-Light.ttf"); }

@font-face {
  font-family: Lobster;
  src: url("../fonts/Lobster-Regular.ttf"); }

@font-face {
  font-family: CormorantInfant;
  src: url("../fonts/CormorantInfant-LightItalic.ttf"); }

@font-face {
  font-family: CormorantInfantBold;
  src: url("../fonts/CormorantInfant-BoldItalic.ttf"); }

@font-face {
  font-family: Aileron;
  src: url("../fonts/Aileron-UltraLight.otf"); }

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans.ttf"); }

@font-face {
  font-family: FuturaPT;
  src: url("../fonts/FuturaPT-Heavy.woff2"); }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: Building;
  src: url("../fonts/Building_Typeface.ttf"); }

html, body::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
  height: 0px; }

header, header > div, .menu div:nth-of-type(1), .menu div:nth-of-type(1) font div, article {
  display: -webkit-flex;
  display: flex; }

body {
  background: white; }

header {
  position: absolute;
  left: 0px;
  top: 60px;
  height: 400px;
  width: 100%;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  align-items: center;
  -webkit-align-items: center;
  overflow: hidden;
  z-index: 1; }

header > div {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  align-items: center;
  -webkit-align-items: center; }
  header > div h1 {
    width: 100%;
    text-align: center;
    font: 56px CormorantInfantBold;
    color: white;
    cursor: default; }
    header > div h1 span {
      font: 42px CormorantInfant; }

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 100%;
  background: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  z-index: 10000; }
  .menu div:nth-of-type(1) {
    position: absolute;
    left: calc(50% - 400px);
    top: 0px;
    width: 800px;
    height: 100%;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center; }
    .menu div:nth-of-type(1) font {
      text-decoration: none;
      color: black;
      font: 18px/60px mPlus;
      transition: 350ms;
      position: relative;
      margin: 0px 20px;
      cursor: pointer;
      height: 100%; }
      .menu div:nth-of-type(1) font font {
        margin: 0px 0px; }
      .menu div:nth-of-type(1) font div {
        position: absolute;
        padding: 0px 5px;
        left: -25px;
        top: 100%;
        width: calc(100% + 40px);
        background: white;
        box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        -webkit-flex-direction: column;
        height: 0px;
        transition: 350ms;
        overflow: hidden; }
        .menu div:nth-of-type(1) font div a {
          margin: 10px 0;
          font: 14px mPlus;
          color: black; }
    .menu div:nth-of-type(1) a {
      text-decoration: none;
      color: black;
      font: 18px mPlus;
      transition: 350ms;
      position: relative;
      margin: 0px 20px; }

.href-about-cafe {
  position: relative; }

.href-about-cafe::after {
  content: '';
  display: block;
  position: absolute;
  right: -12px;
  width: 0px;
  height: 0px;
  top: 50%;
  border: solid 5px rgba(0, 0, 0, 0);
  border-top: solid 5px black;
  transition: 350ms;
  z-index: 1; }

article {
  position: absolute;
  left: 0px;
  top: 460px;
  width: 100%;
  background: white;
  z-index: 2;
  flex-direction: column;
  -webkit-flex-direction: column;
  overflow: hidden; }

@media screen and (min-width: 1080px) {
  .search {
    position: relative;
    left: 30px;
    width: calc(100% - 60px);
    height: 60px;
    margin: 20px 0px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row; }
    .search .button-category {
      position: absolute;
      right:10px;
      top:0px;
      width: 190px;
      height: 60px;
      background: #c83232;
      border: none;
      outline: none;
      color: white;
      font: 18px mPlus;
      transition: 500ms;
      cursor: pointer;
      text-align: left;
      padding-left: 10px;
      background-image: url(../img/sorting.png);
      background-repeat: no-repeat;
      background-position: right center; }
  .categories {
    position: relative;
    width: 1000px;
    left:calc(50% - 500px);
    height: auto;
    max-height: 0px;
    overflow: hidden;
    transition: 150ms;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    .categories button {
      width: 220px;
      height: 36px;
      border-radius: 1px;
      border: solid 2px #c83232;
      background: white;
      position: relative;
      margin: 10px;
      color: #c83232;
      font: 18px/18px mPlus;
      outline: none;
      cursor: pointer;
      font-weight: bold;
      transition: 350ms; } }

@media screen and (max-width: 1080px) {
  .search {
    position: relative;
    left: 30px;
    width: calc(100% - 60px);
    height: 100px;
    margin: 20px 0px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around; }
    .search .button-category {
      position: absolute;
      right:10px;
      top:0px;
      width: calc(50% - 30px);
      height: 100px;
      background: #c83232;
      border: none;
      outline: none;
      color: white;
      font: 42px mPlus;
      transition: 500ms;
      cursor: pointer;
      text-align: left;
      background-image: url(../img/sorting.png);
      background-size: 120px 78px;
      background-repeat: no-repeat;
      background-position: right center; }
  .categories {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 0px;
    overflow: hidden;
    transition: 150ms;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    .categories button {
      width: 360px;
      height: 48px;
      border-radius: 1px;
      border: solid 2px #c83232;
      background: white;
      position: relative;
      margin: 10px;
      color: #c83232;
      font: 32px/32px mPlus;
      outline: none;
      cursor: pointer;
      font-weight: bold;
      transition: 350ms; } }

@media screen and (min-width: 1080px) {
  .food-list {
    position: relative;
    width: 1000px;
    left: calc(50% - 500px);
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    .food-list h3 {
      position: relative;
      width: 100%;
      text-align: center;
      color: #c83232;
      font: 42px Lobster; }
    .food-list h3::after {
      position: absolute;
      content: '';
      display: block;
      width: 100px;
      height: 17px;
      background-image: url("../img/red.png");
      background-size: cover;
      bottom: -22px;
      left: calc(50% - 50px); }
    .food-list div {
      position: relative;
      width: 400px;
      height: 150px;
      margin: 10px 25px; }
      .food-list div div {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        margin: 0 0 0 0;
        cursor: pointer; }
      .food-list div img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 150px;
        height: 150px;
        border-radius: 50%; }
      .food-list div h4 {
        position: absolute;
        left: 160px;
        top: 25px;
        width: 240px;
        font: 20px/20px mPlus;
        color: #c83232;
        margin: 0 0 0 0; }
      .food-list div font {
        position: absolute;
        left: 160px;
        top: 55px;
        font: 16px mPlus;
        color: grey; }
      .food-list div span {
        position: absolute;
        left: 160px;
        bottom: 25px;
        font: 24px Roboto;
        color: #c83232; } }

@media screen and (max-width: 1080px) {
  .food-list {
    position: relative;
    width: calc(100% - 20px);
    left: 10px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    .food-list h3 {
      position: relative;
      width: 100%;
      text-align: center;
      color: #c83232;
      font: 64px Lobster; }
    .food-list h3::after {
      position: absolute;
      content: '';
      display: block;
      width: 200px;
      height: 34px;
      background-image: url("../img/red.png");
      background-size: cover;
      bottom: -39px;
      left: calc(50% - 100px); }
    .food-list div {
      position: relative;
      width: 650px;
      height: 250px;
      margin: 10px 25px; }
      .food-list div div {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        margin: 0 0 0 0;
        cursor: pointer; }
      .food-list div img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 250px;
        height: 250px;
        border-radius: 50%; }
      .food-list div h4 {
        position: absolute;
        left: 260px;
        top: 25px;
        width: 390px;
        font: 32px/32px mPlus;
        color: #c83232;
        margin: 0 0 0 0; }
      .food-list div font {
        position: absolute;
        left: 260px;
        top: 70px;
        font: 28px mPlus;
        color: grey; }
      .food-list div span {
        position: absolute;
        left: 260px;
        bottom: 25px;
        font: 42px Roboto;
        color: #c83232; } }
