@font-face {
  font-family: DroidSans;
  src: url("../fonts/DroidSans-Bold.ttf"); }

@font-face {
  font-family: mPlus;
  src: url("../fonts/MPLUSRounded1c-Light.ttf"); }

@font-face {
  font-family: Lobster;
  src: url("../fonts/Lobster-Regular.ttf"); }

@font-face {
  font-family: CormorantInfant;
  src: url("../fonts/CormorantInfant-LightItalic.ttf"); }

@font-face {
  font-family: CormorantInfantBold;
  src: url("../fonts/CormorantInfant-BoldItalic.ttf"); }

@font-face {
  font-family: Aileron;
  src: url("../fonts/Aileron-UltraLight.otf"); }

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans.ttf"); }

@font-face {
  font-family: FuturaPT;
  src: url("../fonts/FuturaPT-Heavy.woff2"); }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: Building;
  src: url("../fonts/Building_Typeface.ttf"); }


.social
{
  transition-timing-function: ease-out;
  transition: .3s;
}

#social-in:hover
{
  background-color: #9763fd;
}

#social-fb:hover
{
  background-color: #3b5998;
}

#social-tw:hover
{
  background-color: #1da1f2;
}

#social-yt:hover
{
  background-color: #cc181e;
}

.user-menu a
{
  transition-timing-function: ease-out;
  transition: .3s;
}

.user-menu a:hover
{
  opacity: .9;
}


html, body::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
  height: 0px; }

header, header > div, article, .about-cafe, .about-cafe div {
  display: -webkit-flex;
  display: flex; }

body {
  background: white; }

header {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  align-items: center;
  -webkit-align-items: center;
  overflow: hidden;
  z-index: 1; }

header > div {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  /*background-image: url(../img/dot.png);*/
  /*background-repeat: repeat;*/
  align-items: center;
  -webkit-align-items: center; }
  header > div h1 {
    width: 100%;
    text-align: center;
    font: 82px CormorantInfantBold;
    color: white;
    cursor: default; }
    header > div h1 span {
      font: 82px CormorantInfant; }

@media screen and (min-width: 1080px) {
  .start {
    position: absolute;
    bottom: 15px;
    left: calc(50% - 125px);
    height: 110px;
    width: 250px;
    transition: 150ms; }
    .start h5 {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: calc(100% - 40px);
      color: white;
      text-align: center;
      margin: 0;
      font: 36px/40px CormorantInfant;
      cursor: default; }
    .start div:nth-of-type(1) {
      position: absolute;
      left: 0px;
      bottom: 20px;
      transform: rotate(15deg);
      height: 2px;
      width: 128px;
      background: white; }
    .start div:nth-of-type(2) {
      position: absolute;
      right: 0px;
      bottom: 20px;
      transform: rotate(-15deg);
      height: 2px;
      width: 128px;
      background: white; } }

@media screen and (max-width: 1080px) {
  .start {
    position: absolute;
    bottom: 15px;
    left: calc(50% - 200px);
    height: 130px;
    width: 400px;
    transition: 150ms; }
    .start h5 {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: calc(100% - 40px);
      color: white;
      text-align: center;
      margin: 0;
      font: 42px/50px Lobster;
      cursor: default; }
    .start div:nth-of-type(1) {
      position: absolute;
      left: 0px;
      bottom: 20px;
      transform: rotate(20deg);
      height: 3px;
      width: 205px;
      background: white; }
    .start div:nth-of-type(2) {
      position: absolute;
      right: 0px;
      bottom: 20px;
      transform: rotate(-20deg);
      height: 3px;
      width: 205px;
      background: white; } }

@media screen and (max-height: 540px) {
  .start {
    display: none; } }

@media screen and (min-width: 1080px) {
  .cart {
    text-decoration: none;
    position: absolute;
    right: 44px;
    top: 10px;
    height: 22px;
    width: 29px;
    background-size: 29px 22px;
    background-image: url(/img/cart.png);
  }
    /*display: block; }*/
  .username {
    position: absolute;
    text-decoration: none;
    right: 80px;
    top: 10px;
    font: 20px/20px mPlus;
    color: white; }
  .signin, .signup {
    position: relative;
    text-decoration: none;
    font: 20px/40px mPlus;
    margin:0 32px;
    margin-left: -20px;
    color: white; }
  .logout {
    position: absolute;
    right: 8px;
    background-image: url(/img/logout.png);
    background-size: 22px 22px;
    width: 22px;
    height: 22px;
    top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0); }
  .top-menu {
    position: absolute;
    left: 0px;
    top: 0px;
    border-bottom: solid 1px #887f7f;
    width: 100%;
    height: 40px;
  }
  .top-menu > div:nth-of-type(1) > a {
    height: 100%;
    position: relative;
    margin: 0px 0px; }
    .top-menu > div:nth-of-type(1) > a img {
      height: 100%;
    }
  .top-menu > div:nth-of-type(1) {
    position: absolute;
    left: calc(50% - 400px);
    width: 800px;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center; }
    .top-menu > div:nth-of-type(1) div {
      position: absolute;
      right: 0px;
      top: 0px;
      height: 100%;
      width: 310px; }
  .top-menu > div:nth-of-type(2) {
    position: absolute;
    left: calc(50% - 392px);
    top: 40px;
    width: 200px; }
    .top-menu > div:nth-of-type(2) h5 {
      position: relative;
      width: 100%;
      color: white;
      font: 48px/48px mPlus;
      text-align: center;
      margin: 10px 0 0px 0; }
    .top-menu > div:nth-of-type(2) h6 {
      position: relative;
      width: 100%;
      color: white;
      font: 14px mPlus;
      text-align: justify;
      margin: 0 0 0 0; } }

@media screen and (max-width: 1080px) {
  .user-menu
  {
    margin-top: 3px;
  }

  .cart {
    text-decoration: none;
    position: absolute;
    right: 63px;
    top: 8px;
    display: block;
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
    background-image: url(/img/cart.png);
  }
  .username {
    position: absolute;
    text-decoration: none;
    right: 125px;
    top: 10px;
    font: 32px/32px mPlus;
    color: white; }
  .signin, .signup {
    position: relative;
    text-decoration: none;
    font: 24px/60px mPlus;
    margin:0 27px;
    margin-left: -16px;
    color: white; }
  .logout {
    position: absolute;
    right: 5px;
    background-image: url(/img/logout.png);
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    top: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0); }
  .top-menu {
    position: absolute;
    left: 0px;
    top: 0px;
    border-bottom: solid 1px white;
    width: 100%;
    height: 60px; }
  .top-menu > div:nth-of-type(1) > a {
    height: 100%;
    position: relative;
    margin: 0px 0px; }
    .top-menu > div:nth-of-type(1) > a img {
      height: 100%; }
  .top-menu > div:nth-of-type(1) {
    position: absolute;
    left: 50px;
    width: calc(100% - 100px);
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -webkit-align-items: center; }
    .top-menu > div:nth-of-type(1) div {
      position: absolute;
      right: 0px;
      top: 0px;
      height: 100%;
      width: 400px; }
  .top-menu > div:nth-of-type(2) {
    position: absolute;
    left: 62px;
    top: 60px;
    width: 250px; }
    .top-menu > div:nth-of-type(2) h5 {
      position: relative;
      width: 100%;
      color: white;
      font: 60px/60px mPlus;
      text-align: center;
      margin: 10px 0 0 0; }
    .top-menu > div:nth-of-type(2) h6 {
      position: relative;
      width: 100%;
      color: white;
      font: 17.5px mPlus;
      text-align: justify;
      margin: 0 0 0 0; } }

.href-rating section {
  background-image: url(../img/rating.png);
  left: calc(50% - 45px);
  bottom: 10px;
  width: 90px;
  height: 82.5px; }

.href-about-cafe section {
  background-image: url(../img/info.png);
  left: calc(50% - 45px);
  bottom: 10px;
  width: 90px;
  height: 90px; }

.href-help section {
  background-image: url(../img/help.png);
  left: calc(50% - 55px);
  bottom: 0px;
  width: 110px;
  height: 110px; }

article {
  position: absolute;
  left: 0px;
  top: 100%;
  width: 100%;
  background: white;
  z-index: 2;
  flex-direction: column;
  -webkit-flex-direction: column;
  overflow: hidden; }

@media screen and (min-width: 1080px) {
  .dish-rating {
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    z-index: 2; }
    .dish-rating h3 {
      position: relative;
      width: 100%;
      text-align: center;
      color: #c83232;
      font: 28px Lobster; }
    .dish-rating h3::after {
      position: absolute;
      content: '';
      display: block;
      width: 100px;
      height: 17px;
      background-image: url("../img/red.png");
      background-size: cover;
      bottom: -22px;
      left: calc(50% - 50px); }
  .dish-rating > div {
    margin: 0 0 60px 0;
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    .dish-rating > div div {
      position: relative;
      width: 400px;
      height: 150px;
      margin: 10px 25px; }
      .dish-rating > div div img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 150px;
        height: 150px;
        border-radius: 50%; }
      .dish-rating > div div h4 {
        position: absolute;
        left: 160px;
        top: 25px;
        width: 240px;
        font: 20px/20px mPlus;
        color: #c83232;
        margin: 0 0 0 0; }
      .dish-rating > div div font {
        position: absolute;
        left: 160px;
        top: 55px;
        font: 16px mPlus;
        color: grey; }
      .dish-rating > div div span {
        position: absolute;
        left: 160px;
        bottom: 25px;
        font: 24px Roboto;
        color: #c83232; } }

@media screen and (max-width: 1080px) {
  .dish-rating {
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    z-index: 2; }
    .dish-rating h3 {
      position: relative;
      width: 100%;
      text-align: center;
      color: #c83232;
      font: 42px Lobster; }
    .dish-rating h3::after {
      position: absolute;
      content: '';
      display: block;
      width: 200px;
      height: 34px;
      background-image: url("../img/red.png");
      background-size: cover;
      bottom: -39px;
      left: calc(50% - 100px); }
  .dish-rating > div {
    margin: 0 0 60px 0;
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    .dish-rating > div div {
      position: relative;
      width: 600px;
      height: 250px;
      margin: 10px 25px; }
      .dish-rating > div div img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 250px;
        height: 250px;
        border-radius: 50%; }
      .dish-rating > div div h4 {
        position: absolute;
        left: 260px;
        top: 25px;
        width: 350px;
        font: 36px/36px mPlus;
        color: #c83232;
        margin: 0 0 0 0; }
      .dish-rating > div div font {
        position: absolute;
        left: 260px;
        top: 70px;
        font: 28px mPlus;
        color: grey; }
      .dish-rating > div div span {
        position: absolute;
        left: 260px;
        bottom: 25px;
        font: 42px Roboto;
        color: #c83232; } }

@media screen and (min-width: 1080px) {
  .about-cafe div {
    left: calc(50% - 500px);
    width: 1000px; }
  .about-cafe div p {
    position: relative;
    width: calc(100% - 300px);
    left: 50px;
    font: 20px mPlus;
    color: black; }
  .dish-rating {
    width: 1000px;
    left: calc(50% - 500px); }
  h5 {
    position: relative;
    width: 100%;
    font: 20px mPlus;
    color: #323232;
    text-align: left;
    margin: 5px 0; }
  h3 {
    position: relative;
    width: 100%;
    text-align: center;
    color: #c83232;
    font: 28px Lobster; } }

@media screen and (max-width: 1080px) {
  .about-cafe div {
    left: 10px;
    width: calc(100% - 20px); }
  .about-cafe div p {
    position: relative;
    width: calc(100% - 150px);
    left: 75px;
    font: 28px mPlus;
    color: black; }
  .dish-rating {
    width: calc(100% - 20px);
    left: 10px; }
  h5 {
    position: relative;
    width: 100%;
    font: 28px mPlus;
    color: #323232;
    text-align: left;
    margin: 5px 20px; }
  h3 {
    position: relative;
    width: 100%;
    text-align: center;
    color: #c83232;
    font: 42px Lobster; } }

.about-cafe {
  width: 100%;
  flex-direction: column;
  -webkit-flex-direction: column;
  position: relative;
  margin-bottom: 40px; }
  .about-cafe div {
    position: relative;
    flex-direction: column;
    -webkit-flex-direction: column; }
    .about-cafe div p:nth-of-type(1)::before {
      display: block;
      content: '1';
      color: black;
      font: 50px Roboto;
      width: 50px;
      height: 50px;
      position: absolute;
      left: -50px;
      top: 0px; }
    .about-cafe div p:nth-of-type(2)::after {
      display: block;
      content: '2';
      color: black;
      font: 50px Roboto;
      width: 50px;
      height: 50px;
      position: absolute;
      right: -50px;
      top: 0px; }
    .about-cafe div p:nth-of-type(3)::before {
      display: block;
      content: '3';
      color: black;
      font: 50px Roboto;
      width: 50px;
      height: 50px;
      position: absolute;
      left: -50px;
      top: 0px; }
    .about-cafe div p:nth-of-type(4)::after {
      display: block;
      content: '4';
      color: black;
      font: 50px Roboto;
      width: 50px;
      height: 50px;
      position: absolute;
      right: -50px;
      top: 0px; }

@media screen and (min-width: 1080px) {
  .article-header {
    height: 200px; }
    .article-header h2 {
      font: 48px/75px mPlus;
      height: 150px;
      margin: 25px 0; } }

@media screen and (max-width: 1080px) {
  .article-header {
    height: 200px; }
    .article-header h2 {
      font: 42px/75px mPlus;
      height: 150px;
      margin: 25px 0; } }

.article-header {
  position: relative;
  width: 100%;
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .article-header h2 {
    position: relative;
    width: 100%;
    color: white;
    text-align: center; }
    .article-header h2 a {
      color: white;
      position: relative;
      text-decoration: none; }
    .article-header h2 a::after {
      position: absolute;
      left: 0px;
      bottom: 5px;
      width: 100%;
      height: 2px;
      background: white;
      content: '';
      display: block; }

@media screen and (min-width: 1080px) {
  .our-team {
    position: relative;
    width: 100%;
    z-index: 2;
    background: white;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    .our-team h3 {
      position: relative;
      width: 100%;
      text-align: center;
      color: #c83232;
      font: 28px Lobster; }
    .our-team h3::after {
      position: absolute;
      content: '';
      display: block;
      width: 100px;
      height: 17px;
      background-image: url("../img/red.png");
      background-size: cover;
      bottom: -22px;
      left: calc(50% - 50px); }
  .our-team div {
    position: relative;
    width: 150px;
    height: 400px;
    margin: 20px;
    transform: scale(0.1);
    opacity: 0; }
    .our-team div img {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 150px;
      height: 200px; }
    .our-team div h4 {
      position: absolute;
      left: 0px;
      top: 210px;
      width: 100%;
      height: 30px;
      color: black;
      font: 22px/30px mPlus;
      text-align: center;
      margin: 0 0 0 0; }
    .our-team div h5 {
      position: absolute;
      left: 0px;
      top: 250px;
      width: 100%;
      height: 150px;
      color: black;
      font: 14px mPlus;
      text-align: center;
      margin: 0 0 0 0; } }

@media screen and (max-width: 1080px) {
  .our-team {
    position: relative;
    width: 100%;
    z-index: 2;
    background: white;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    .our-team h3 {
      position: relative;
      width: 100%;
      text-align: center;
      color: #c83232;
      font: 42px Lobster;
      margin: auto auto 70px auto; }
    .our-team h3::after {
      position: absolute;
      content: '';
      display: block;
      width: 200px;
      height: 34px;
      background-image: url("../img/red.png");
      background-size: cover;
      bottom: -39px;
      left: calc(50% - 100px); }
  .our-team div {
    position: relative;
    width: 300px;
    height: 700px;
    margin: 20px;
    transform: scale(0.1);
    opacity: 0; }
    .our-team div img {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 300px;
      height: 400px; }
    .our-team div h4 {
      position: absolute;
      left: 0px;
      top: 400px;
      width: 100%;
      height: 50px;
      color: black;
      font: 36px/50px mPlus;
      text-align: center;
      margin: 0 0 0 0; }
    .our-team div h5 {
      position: absolute;
      left: 0px;
      top: 450px;
      width: 100%;
      height: 250px;
      color: black;
      font: 24px mPlus;
      text-align: center;
      margin: 0 0 0 0; } }

footer {
  position: relative;
  width: 100%;
  height: 200px;
  background: #242424; }

@media screen and (min-width: 1080px) {
  footer > div {
    width: 1000px;
    position: absolute;
    left: calc(50% - 500px);
    top: 0px; }
    footer > div div:nth-of-type(1) {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 200px; }
      footer > div div:nth-of-type(1) h5 {
        position: relative;
        width: 100%;
        color: white;
        font: 48px/48px mPlus;
        text-align: center;
        margin: 30px 0 0px 0; }
      footer > div div:nth-of-type(1) h6 {
        position: relative;
        width: 100%;
        color: white;
        font: 14px mPlus;
        text-align: justify;
        margin: 0 0 0 0; }
    footer > div div:nth-of-type(2) {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 250px; }
      footer > div div:nth-of-type(2) h5 {
        position: relative;
        width: 100%;
        color: white;
        font: 20px mPlus;
        text-align: center;
        margin: 10px 0 10px 0; }
      footer > div div:nth-of-type(2) font {
        width: 200px;
        position: relative;
        left: 50px;
        font: 16px mPlus;
        color: white; }
      footer > div div:nth-of-type(2) font:nth-of-type(1)::before {
        left: -35px;
        top: 0px;
        width: 25px;
        height: 25px;
        background-image: url("../img/phone.png");
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
        display: block;
        position: absolute; }
      footer > div div:nth-of-type(2) font:nth-of-type(2)::before {
        left: -35px;
        top: 0px;
        width: 25px;
        height: 25px;
        background-image: url("../img/email.png");
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
        display: block;
        position: absolute; } }

@media screen and (max-width: 1080px) {
  footer > div {
    width: calc(100% - 60px);
    position: absolute;
    left: 30px;
    top: 0px; }
    footer > div div:nth-of-type(1) {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 200px; }
      footer > div div:nth-of-type(1) h5 {
        position: relative;
        width: 100%;
        color: white;
        font: 48px/48px mPlus;
        text-align: center;
        margin: 30px 0 0px 0; }
      footer > div div:nth-of-type(1) h6 {
        position: relative;
        width: 100%;
        color: white;
        font: 14px mPlus;
        text-align: justify;
        margin: 0 0 0 0; }
    footer > div div:nth-of-type(2) {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 250px; }
      footer > div div:nth-of-type(2) h5 {
        position: relative;
        width: 100%;
        color: white;
        font: 20px mPlus;
        text-align: center;
        margin: 10px 0 10px 0; }
      footer > div div:nth-of-type(2) font {
        width: 200px;
        position: relative;
        left: 50px;
        font: 16px mPlus;
        color: white; }
      footer > div div:nth-of-type(2) font:nth-of-type(1)::before {
        left: -35px;
        top: 0px;
        width: 25px;
        height: 25px;
        background-image: url("../img/phone.png");
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
        display: block;
        position: absolute; }
      footer > div div:nth-of-type(2) font:nth-of-type(2)::before {
        left: -35px;
        top: 0px;
        width: 25px;
        height: 25px;
        background-image: url("../img/email.png");
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
        display: block;
        position: absolute; } }
