@font-face {
  font-family: DroidSans;
  src: url("../fonts/DroidSans-Bold.ttf"); }

@font-face {
  font-family: mPlus;
  src: url("../fonts/MPLUSRounded1c-Light.ttf"); }

@font-face {
  font-family: Aileron;
  src: url("../fonts/Aileron-UltraLight.otf"); }

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans.ttf"); }

@font-face {
  font-family: FuturaPT;
  src: url("../fonts/FuturaPT-Heavy.woff2"); }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: Building;
  src: url("../fonts/Building_Typeface.ttf"); }

html, body::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0); }

.menu div:nth-of-type(1), .menu div:nth-of-type(1) font div, .mobile-menu, .mobile-menu div, .mobile-menu div div {
  display: -webkit-flex;
  display: flex; }

@media screen and (min-width: 1080px) {
  .mobile-menu {
    display: none; }
  .open-menu {
    display: none; } }

@media screen and (max-width: 1080px) {
  .menu {
    display: none; } }

.menu {
  position: fixed;
  top: 40px;
  left: 0px;
  height: 60px;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  z-index: 10000; }
  .menu div:nth-of-type(1) {
    position: absolute;
    left: calc(50% - 400px);
    top: 0px;
    width: 800px;
    height: 100%;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center; }
    .menu div:nth-of-type(1) font {
      text-decoration: none;
      color: white;
      font: 18px/60px mPlus;
      transition: 350ms;
      position: relative;
      margin: 0px 20px;
      cursor: default;
      height: 100%; }
      .menu div:nth-of-type(1) font font {
        margin: 0px 0px;
        cursor: pointer; }
      .menu div:nth-of-type(1) font div {
        position: absolute;
        padding: 0px 5px;
        left: -35px;
        top: 100%;
        width: calc(100% + 60px);
        background: white;
        box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        -webkit-flex-direction: column;
        height: 0px;
        transition: 350ms;
        overflow: hidden; }
        .menu div:nth-of-type(1) font div a {
          margin: 10px 0;
          font: 14px mPlus;
          color: black;
          cursor: pointer; }
    .menu div:nth-of-type(1) a {
      text-decoration: none;
      color: white;
      font: 18px mPlus;
      transition: 350ms;
      position: relative;
      margin: 0px 20px; }

.href-about-cafe {
  position: relative; }

.href-about-cafe::after {
  content: '';
  display: block;
  position: absolute;
  right: -17px;
  width: 0px;
  height: 0px;
  top: 46%;
  border: solid 5px rgba(0, 0, 0, 0);
  border-top: solid 5px white;
  transition: 500ms;
  z-index: 1; }

.open-menu {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  z-index: 10001; }
  .open-menu div {
    width: calc(100% - 20px);
    height: 3px;
    background: black;
    position: absolute;
    left: 10px;
    transition: 500ms; }
  .open-menu div:nth-of-type(1) {
    top: 20px; }
  .open-menu div:nth-of-type(2) {
    bottom: 20px; }
  .open-menu div:nth-of-type(3) {
    top: 38.5px; }

.mobile-menu > a:nth-of-type(1) {
  font: 42px mPlus; }

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 440px;
  background: white;
  top: -360px;
  left: 0px;
  z-index: 10000;
  flex-direction: column;
  -webkit-flex-direction: column;
  transition: 350ms;
  border-bottom: solid 1px #404040; }
  .mobile-menu a {
    position: relative;
    width: 50%;
    min-width: 400px;
    max-width: calc(100% - 50px);
    cursor: pointer;
    font: 32px mPlus;
    color: black;
    left: 40px;
    text-decoration: none;
    margin: 5px 0; }
  .mobile-menu font {
    position: relative;
    max-width: 50%;
    font: 32px mPlus;
    color: black;
    left: 40px;
    margin: 10px 0; }
  .mobile-menu div {
    border-top: solid 1px #404040;
    border-bottom: solid 1px #404040;
    flex-direction: row;
    -webkit-flex-direction: row; }
    .mobile-menu div div {
      position: relative;
      width: 50%;
      border-top: none;
      border-bottom: none;
      flex-direction: column;
      -webkit-flex-direction: column;
      margin-left: 50px; }
    .mobile-menu div a {
      width: 100%;
      
left: 10px; }

.overflow {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 500ms;
  z-index: 9999;
  display: none;
  opacity: 0; }