@font-face {
  font-family: DroidSans;
  src: url("../fonts/DroidSans-Bold.ttf"); }

@font-face {
  font-family: mPlus;
  src: url("../fonts/MPLUSRounded1c-Light.ttf"); }

@font-face {
  font-family: Aileron;
  src: url("../fonts/Aileron-UltraLight.otf"); }

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans.ttf"); }

@font-face {
  font-family: FuturaPT;
  src: url("../fonts/FuturaPT-Heavy.woff2"); }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: Building;
  src: url("../fonts/Building_Typeface.ttf"); }

.mobile-menu, .mobile-menu div, .mobile-menu div div {
  display: -webkit-flex;
  display: flex; }
@media screen and (min-width: 1080px) {
  .mobile-menu {
    display: none; }
  .open-menu {
    display: none; } }
@media screen and (max-width: 1080px) {
  .menu {
    display: none; } }
.open-menu {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  z-index: 10001; }
  .open-menu div {
    width: calc(100% - 20px);
    height: 3px;
    background: black;
    position: absolute;
    left: 10px;
    transition: 500ms; }
  .open-menu div:nth-of-type(1) {
    top: 20px; }
  .open-menu div:nth-of-type(2) {
    bottom: 20px; }
  .open-menu div:nth-of-type(3) {
    top: 38.5px; }

.mobile-menu > a:nth-of-type(1) {
  font: 42px mPlus;
  margin: 20px 0 10px 0; }

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 440px;
  background: white;
  top: -360px;
  left: 0px;
  z-index: 10000;
  flex-direction: column;
  -webkit-flex-direction: column;
  transition: 350ms;
  border-bottom: solid 1px #404040; }
  .mobile-menu a {
    position: relative;
    width: 50%;
    min-width: 400px;
    max-width: calc(100% - 50px);
    cursor: pointer;
    font: 32px mPlus;
    color: black;
    left: 40px;
    text-decoration: none;
    margin: 5px 0; }
  .mobile-menu font {
    position: relative;
    max-width: 50%;
    font: 32px mPlus;
    color: black;
    left: 40px;
    margin: 10px 0; }
  .mobile-menu div {
    border-top: solid 1px #404040;
    border-bottom: solid 1px #404040;
    flex-direction: row;
    -webkit-flex-direction: row; }
    .mobile-menu div div {
      position: relative;
      width: 50%;
      border-top: none;
      border-bottom: none;
      flex-direction: column;
      -webkit-flex-direction: column;
      margin-left: 50px; }
    .mobile-menu div a {
      width: 100%;
      
left: 10px; }

.overflow {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 500ms;
  z-index: 9999;
  display: none;
  opacity: 0; }

  footer {
    position: relative;
    width: 100%;
    height: 200px;
    background: #242424; }
  
  @media screen and (min-width: 1080px) {
    footer > div {
      width: 1000px;
      position: absolute;
      left: calc(50% - 500px);
      top: 0px; }
      footer > div div:nth-of-type(1) {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 200px; }
        footer > div div:nth-of-type(1) h5 {
          position: relative;
          width: 100%;
          color: white;
          font: 48px/48px mPlus;
          text-align: center;
          margin: 30px 0 0px 0; }
        footer > div div:nth-of-type(1) h6 {
          position: relative;
          width: 100%;
          color: white;
          font: 14px mPlus;
          text-align: justify;
          margin: 0 0 0 0; }
      footer > div div:nth-of-type(2) {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 250px; }
        footer > div div:nth-of-type(2) h5 {
          position: relative;
          width: 100%;
          color: white;
          font: 20px mPlus;
          text-align: center;
          margin: 10px 0 10px 0; }
        footer > div div:nth-of-type(2) font {
          width: 200px;
          position: relative;
          left: 50px;
          font: 16px mPlus;
          color: white; }
        footer > div div:nth-of-type(2) font:nth-of-type(1)::before {
          left: -35px;
          top: 0px;
          width: 25px;
          height: 25px;
          background-image: url("../img/phone.png");
          background-size: cover;
          background-repeat: no-repeat;
          content: '';
          display: block;
          position: absolute; }
        footer > div div:nth-of-type(2) font:nth-of-type(2)::before {
          left: -35px;
          top: 0px;
          width: 25px;
          height: 25px;
          background-image: url("../img/email.png");
          background-size: cover;
          background-repeat: no-repeat;
          content: '';
          display: block;
          position: absolute; } }
  
  @media screen and (max-width: 1080px) {
    footer > div {
      width: calc(100% - 60px);
      position: absolute;
      left: 30px;
      top: 0px; }
      footer > div div:nth-of-type(1) {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 200px; }
        footer > div div:nth-of-type(1) h5 {
          position: relative;
          width: 100%;
          color: white;
          font: 48px/48px mPlus;
          text-align: center;
          margin: 30px 0 0px 0; }
        footer > div div:nth-of-type(1) h6 {
          position: relative;
          width: 100%;
          color: white;
          font: 14px mPlus;
          text-align: justify;
          margin: 0 0 0 0; }
      footer > div div:nth-of-type(2) {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 250px; }
        footer > div div:nth-of-type(2) h5 {
          position: relative;
          width: 100%;
          color: white;
          font: 20px mPlus;
          text-align: center;
          margin: 10px 0 10px 0; }
        footer > div div:nth-of-type(2) font {
          width: 200px;
          position: relative;
          left: 50px;
          font: 16px mPlus;
          color: white; }
        footer > div div:nth-of-type(2) font:nth-of-type(1)::before {
          left: -35px;
          top: 0px;
          width: 25px;
          height: 25px;
          background-image: url("../img/phone.png");
          background-size: cover;
          background-repeat: no-repeat;
          content: '';
          display: block;
          position: absolute; }
        footer > div div:nth-of-type(2) font:nth-of-type(2)::before {
          left: -35px;
          top: 0px;
          width: 25px;
          height: 25px;
          background-image: url("../img/email.png");
          background-size: cover;
          background-repeat: no-repeat;
          content: '';
          display: block;
          position: absolute; } }