@font-face {
  font-family: DroidSans;
  src: url("../fonts/DroidSans-Bold.ttf"); }

@font-face {
  font-family: mPlus;
  src: url("../fonts/MPLUSRounded1c-Light.ttf"); }

@font-face {
  font-family: Lobster;
  src: url("../fonts/Lobster-Regular.ttf"); }

@font-face {
  font-family: Aileron;
  src: url("../fonts/Aileron-UltraLight.otf"); }

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans.ttf"); }

@font-face {
  font-family: FuturaPT;
  src: url("../fonts/FuturaPT-Heavy.woff2"); }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: Building;
  src: url("../fonts/Building_Typeface.ttf"); }

@media screen and (min-width:1080px) {
	.modal-window {
		position:fixed;
		width:960px;
		padding:0px 20px;
		height:80%;
		background:white;
		border-radius:5px;
		left:calc(50% - 500px);
		top:10%;
		opacity:0;
		display:none;
		transition:1000ms;
		z-index:99999;
		transform:scale(0.1);
		overflow:auto;
	}
	.close-modal {
		position:fixed;
		right:calc(50% - 518px);
		top:calc(10% - 18px);
		width:36px;
		height:36px;
		background:rgb(126, 192, 238);
		border-radius:50%;
		overflow:hidden;
		cursor:pointer;
		display:none;
		opacity:0;
		transition:350ms;
		z-index:9999999;
	}
}

@media screen and (max-width:1080px) {
	.modal-window {
		position:fixed;
		width:calc(100% - 100px);
		height:80%;
		background:white;
		border-radius:5px;
		left:50px;
		top:10%;
		opacity:0;
		display:none;
		transition:1000ms;
		z-index:99999;
		transform:scale(0.1);
		overflow:auto;
	}
	.close-modal {
		position:fixed;
		right:18px;
		top:calc(10% - 32px);
		width:64px;
		height:64px;
		background:rgb(126, 192, 238);
		border-radius:50%;
		overflow:hidden;
		cursor:pointer;
		display:none;
		opacity:0;
		transition:350ms;
		z-index:9999999;
	}

}

.into-modal {
	overflow:auto;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

.overlay {
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:black;
	opacity:0;
	display:none;
	transition:1000ms;
	z-index:10002;
	cursor:pointer;
}

.close-modal:hover {
	background:rgb(255, 120, 120);
	box-shadow:-2px 2px 2px rgba(0, 0, 0, 0.5);
}

.close-modal::after {
	position:absolute;
	content:'';
	left:25%;
	top:calc(50% - 2px);
	width:50%;
	height:4px;
	background:white;
	transform:rotate(45deg);
}

.close-modal::before {
	position:absolute;
	content:'';
	left:25%;
	top:calc(50% - 2px);
	width:50%;
	height:4px;
	background:white;
	transform:rotate(-45deg);
}

@media screen and (min-width:1080px) {
	#courier h3 {
      position:relative;
      width:100%;
      text-align:center;
      color:rgb(200, 50, 50);
      font:28px Lobster;
    }

   #courier h3::after {
      position:absolute;
      content:'';
      display:block;
      width:100px;
      height:17px;
      background-image:url("../img/red.png");
      background-size:cover;
      bottom:-22px;
      left:calc(50% - 50px);
    }

    #courier font {
    	font:20px mPlus;
    	color:black;
    }
}

@media screen and (max-width:1080px) {
	#courier h3 {
      position:relative;
      width:100%;
      text-align:center;
      color:rgb(200, 50, 50);
      font:42px Lobster;
    }

   #courier h3::after {
      position:absolute;
      content:'';
      display:block;
      width:200px;
      height:34px;
      background-image:url("../img/red.png");
      background-size:cover;
      bottom:-39px;
      left:calc(50% - 100px);
    }
    #courier font {
    	width:calc(100% - 50px);
    	margin:25px;
    	font:32px mPlus;
    	color:black;
    	display:block;
    }
}