@font-face {
  font-family: DroidSans;
  src: url("../fonts/DroidSans-Bold.ttf"); }

@font-face {
  font-family: mPlus;
  src: url("../fonts/MPLUSRounded1c-Light.ttf"); }

@font-face {
  font-family: Lobster;
  src: url("../fonts/Lobster-Regular.ttf"); }

@font-face {
  font-family: CormorantInfant;
  src: url("../fonts/CormorantInfant-LightItalic.ttf"); }

@font-face {
  font-family: CormorantInfantBold;
  src: url("../fonts/CormorantInfant-BoldItalic.ttf"); }

@font-face {
  font-family: Aileron;
  src: url("../fonts/Aileron-UltraLight.otf"); }

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans.ttf"); }

@font-face {
  font-family: FuturaPT;
  src: url("../fonts/FuturaPT-Heavy.woff2"); }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: Building;
  src: url("../fonts/Building_Typeface.ttf"); }

html, body::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
  height: 0px; }

header, header > div, .menu div:nth-of-type(1), .menu div:nth-of-type(1) font div, article {
  display: -webkit-flex;
  display: flex; }

body {
  background: white; }

header {
  position: absolute;
  left: 0px;
  top: 60px;
  height: 400px;
  width: 100%;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  align-items: center;
  -webkit-align-items: center;
  overflow: hidden;
  z-index: 1; }

header > div {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  align-items: center;
  -webkit-align-items: center; }
  header > div h1 {
    width: 100%;
    text-align: center;
    font: 56px CormorantInfantBold;
    color: white;
    cursor: default; }
    header > div h1 span {
      font: 42px CormorantInfant; }

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 100%;
  background: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  z-index: 10000; }
  .menu div:nth-of-type(1) {
    position: absolute;
    left: calc(50% - 400px);
    top: 0px;
    width: 800px;
    height: 100%;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center; }
    .menu div:nth-of-type(1) font {
      text-decoration: none;
      color: black;
      font: 18px/60px mPlus;
      transition: 350ms;
      position: relative;
      margin: 0px 20px;
      cursor: pointer;
      height: 100%; }
      .menu div:nth-of-type(1) font font {
        margin: 0px 0px; }
      .menu div:nth-of-type(1) font div {
        position: absolute;
        padding: 0px 5px;
        left: -25px;
        top: 100%;
        width: calc(100% + 40px);
        background: white;
        box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        -webkit-flex-direction: column;
        height: 0px;
        transition: 350ms;
        overflow: hidden; }
        .menu div:nth-of-type(1) font div a {
          margin: 10px 0;
          font: 14px mPlus;
          color: black; }
    .menu div:nth-of-type(1) a {
      text-decoration: none;
      color: black;
      font: 18px mPlus;
      transition: 350ms;
      position: relative;
      margin: 0px 20px; }

.href-about-cafe {
  position: relative; }

.href-about-cafe::after {
  content: '';
  display: block;
  position: absolute;
  right: -12px;
  width: 0px;
  height: 0px;
  top: 50%;
  border: solid 5px rgba(0, 0, 0, 0);
  border-top: solid 5px black;
  transition: 350ms;
  z-index: 1; }

.between-footer-cart {
  position:relative;
  width:100%;
  min-height:calc(100% - 300px);
}

article {
  position: absolute;
  left: 0px;
  top: 460px;
  width: 100%;
  min-height:calc(100% - 460px);
  background: white;
  z-index: 2;
  flex-direction: column;
  -webkit-flex-direction: column;
  overflow: hidden; }

@media screen and (min-width: 1080px) {
  .order-list {
    position: relative;
    left: calc(50% - 500px);
    width: 1000px;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    overflow: hidden;
    margin: 30px 0px; } }

@media screen and (max-width: 1080px) {
  .order-list {
    position: relative;
    left: 10px;
    width: calc(100% - 20px);
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    overflow: hidden;
    margin: 30px 0px; } }

.one-order:nth-of-type(1) div:nth-of-type(7) {
  background: white; }

@media screen and (min-width: 1080px) {
  .one-order:nth-of-type(1) div h6 {
    font: 20px mPlus;
    margin: 0 0 0 0;
    width: 100%;
    text-align: center; }
  .one-order {
    position: relative;
    width: 100%;
    height: 50px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row; }
    .one-order div {
      height: 100%;
      position: relative;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      -webkit-align-items: center; }
      .one-order div h6 {
        font: 20px mPlus;
        margin: 0px 0px 0px 20px; }
    .one-order div:nth-of-type(2n - 1) {
      background: #64c8c8; }
      .one-order div:nth-of-type(2n - 1) h6 {
        color: white; }
    .one-order div:nth-of-type(2n) {
      background: white; }
      .one-order div:nth-of-type(2n) h6 {
        color: black; }
    .one-order div:nth-of-type(1) {
      width: calc(100% - 300px); }
      .one-order div:nth-of-type(1) h6 {
        width: 100%;
        text-align: center;
        margin: 0 0 0 0; }
    .one-order div:nth-of-type(2) {
      width: 100px; }
      .one-order div:nth-of-type(2) h6 {
        width: 100%;
        text-align: center;
        margin: 0 0 0 0; }
      .one-order div:nth-of-type(2) button {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 12.5px;
        color: black;
        font: 25px/25px Roboto;
        border: none;
        outline: none;
        cursor: pointer;
        background: white; }
      .one-order div:nth-of-type(2) button:nth-of-type(1) {
        left: 2px; }
      .one-order div:nth-of-type(2) button:nth-of-type(2) {
        right: 2px; }
    .one-order div:nth-of-type(3) {
      width: 150px; }
      .one-order div:nth-of-type(3) h6 {
        width: 100%;
        text-align: center;
        margin: 0 0 0 0; }
    .one-order div:nth-of-type(4) {
      width: 50px;
      cursor: pointer; }
      .one-order div:nth-of-type(4) div:nth-of-type(1) {
        width: 100%;
        height: 2px;
        position: absolute;
        top: 24px;
        left: 0px;
        background: black;
        transform: rotate(45deg); }
      .one-order div:nth-of-type(4) div:nth-of-type(2) {
        width: 100%;
        height: 2px;
        position: absolute;
        top: 24px;
        left: 0px;
        background: black;
        transform: rotate(-45deg); }
  .accept-order {
    position: relative;
    left: calc(50% - 500px);
    height: 50px;
    width: 1000px;
    margin: 0px 0px 30px 0px; }
    .accept-order button {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 200px;
      height: 50px;
      background: white;
      border: solid 2px #64c8c8;
      color: #64c8c8;
      cursor: pointer;
      font: 20px mPlus;
      transition: 500ms;
      font-weight: bold;
      outline: none; }
    .accept-order button:hover {
      background: #64c8c8;
      border: solid 2px #64c8c8;
      color: white; } }

@media screen and (max-width: 1080px) {
  .one-order:nth-of-type(1) div h6 {
    font: 36px mPlus;
    margin: 0 0 0 0;
    width: 100%;
    text-align: center; }
  .one-order {
    position: relative;
    width: 100%;
    height: 80px;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    .one-order div {
      position: relative;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      -webkit-align-items: center; }
      .one-order div h6 {
        font: 36px mPlus;
        margin: 0px 0px 0px 20px; }
    .one-order div:nth-of-type(2n - 1) {
      background: #64c8c8; }
      .one-order div:nth-of-type(2n - 1) h6 {
        color: white; }
    .one-order div:nth-of-type(2n) {
      background: white; }
      .one-order div:nth-of-type(2n) h6 {
        color: black; }
    .one-order div:nth-of-type(1) {
      width: calc(100% - 450px); }
      .one-order div:nth-of-type(1) h6 {
        width: 100%;
        text-align: center;
        margin: 0 0 0 0; }
    .one-order div:nth-of-type(2) {
      width: 150px; }
      .one-order div:nth-of-type(2) h6 {
        width: 100%;
        text-align: center;
        margin: 0 0 0 0; }
      .one-order div:nth-of-type(2) button {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 20px;
        color: black;
        font: 40px/40px Roboto;
        border: none;
        outline: none;
        cursor: pointer;
        background: white; }
      .one-order div:nth-of-type(2) button:nth-of-type(1) {
        left: 2px; }
      .one-order div:nth-of-type(2) button:nth-of-type(2) {
        right: 2px; }
    .one-order div:nth-of-type(3) {
      width: 220px; }
      .one-order div:nth-of-type(3) h6 {
        width: 100%;
        text-align: center;
        margin: 0 0 0 0; }
    .one-order div:nth-of-type(4) {
      width: 80px;
      cursor: pointer; }
      .one-order div:nth-of-type(4) div:nth-of-type(1) {
        width: 100%;
        height: 3px;
        position: absolute;
        top: 38.5px;
        left: 0px;
        background: black;
        transform: rotate(45deg); }
      .one-order div:nth-of-type(4) div:nth-of-type(2) {
        width: 100%;
        height: 3px;
        position: absolute;
        top: 38.5px;
        left: 0px;
        background: black;
        transform: rotate(-45deg); }
  .accept-order {
    position: relative;
    left: 10px;
    height: 80px;
    width: calc(100% - 20px);
    margin: 0px 0px 30px 0px; }
    .accept-order button {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 350px;
      height: 80px;
      background: white;
      border: solid 2px #64c8c8;
      color: #64c8c8;
      cursor: pointer;
      font: 36px mPlus;
      transition: 500ms;
      font-weight: bold;
      outline: none; }
    .accept-order button:hover {
      background: #64c8c8;
      border: solid 2px #64c8c8;
      color: white; } }
