@font-face {
    font-family: DroidSans;
    src: url("../fonts/DroidSans-Bold.ttf"); }
  
  @font-face {
    font-family: mPlus;
    src: url("../fonts/MPLUSRounded1c-Light.ttf"); }
  
  @font-face {
    font-family: Lobster;
    src: url("../fonts/Lobster-Regular.ttf"); }
  
  @font-face {
    font-family: Aileron;
    src: url("../fonts/Aileron-UltraLight.otf"); }
  
  @font-face {
    font-family: OpenSans;
    src: url("../fonts/OpenSans.ttf"); }
  
  @font-face {
    font-family: FuturaPT;
    src: url("../fonts/FuturaPT-Heavy.woff2"); }
  
  @font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Medium.ttf"); }
  
  @font-face {
    font-family: Building;
    src: url("../fonts/Building_Typeface.ttf"); }
  
  html, body::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0);
    height: 0px; }
  
  header, header > div, .menu div:nth-of-type(1), .menu div:nth-of-type(1) font div, article {
    display: -webkit-flex;
    display: flex; }
  
  body {
    background: white; }
  
  header {
    position: absolute;
    left: 0px;
    top: 60px;
    height: 400px;
    width: 100%;
    background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    align-items: center;
    -webkit-align-items: center;
    overflow: hidden;
    z-index: 1; }
  
  header > div {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-image: url(../img/dot.png);
    background-repeat: repeat;
    align-items: center;
    -webkit-align-items: center; }
    header > div h1 {
      width: 100%;
      text-align: center;
      font: 56px Lobster;
      color: white;
      cursor: default; }
      header > div h1 span {
        font: 42px Lobster; }
  
  .menu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    background: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    z-index: 10000; }
    .menu div:nth-of-type(1) {
      position: absolute;
      left: calc(50% - 400px);
      top: 0px;
      width: 800px;
      height: 100%;
      justify-content: flex-end;
      -webkit-justify-content: flex-end;
      align-items: center;
      -webkit-align-items: center; }
      .menu div:nth-of-type(1) font {
        text-decoration: none;
        color: black;
        font: 18px/60px mPlus;
        transition: 350ms;
        position: relative;
        margin: 0px 20px;
        cursor: pointer;
        height: 100%; }
        .menu div:nth-of-type(1) font font {
          margin: 0px 0px; }
        .menu div:nth-of-type(1) font div {
          position: absolute;
          padding: 0px 5px;
          left: -25px;
          top: 100%;
          width: calc(100% + 40px);
          background: white;
          box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
          flex-direction: column;
          -webkit-flex-direction: column;
          height: 0px;
          transition: 350ms;
          overflow: hidden; }
          .menu div:nth-of-type(1) font div a {
            margin: 10px 0;
            font: 14px mPlus;
            color: black; }
      .menu div:nth-of-type(1) a {
        text-decoration: none;
        color: black;
        font: 18px mPlus;
        transition: 350ms;
        position: relative;
        margin: 0px 20px; }
  
  .href-about-cafe {
    position: relative; }
  
  .href-about-cafe::after {
    content: '';
    display: block;
    position: absolute;
    right: -12px;
    width: 0px;
    height: 0px;
    top: 50%;
    border: solid 5px rgba(0, 0, 0, 0);
    border-top: solid 5px black;
    transition: 350ms;
    z-index: 1; }
  
  article {
    position: absolute;
    left: 0px;
    top: 460px;
    width: 100%;
    background: white;
    z-index: 2;
    flex-direction: column;
    -webkit-flex-direction: column;
    overflow: hidden; }

@media screen and (min-width:1080px) {
    .order {
        position:relative;
        width:1000px;
        left:calc(50% - 500px);
        display:flex;
        display:-webkit-flex;
        flex-direction:column;
        -webkit-flex-direction:column;
    }
    .order section {
        position:relative;
        width:100%;
        height:40px;
        display:flex;
        display:-webkit-flex;
        flex-direction:row;
        -webkit-flex-direction:row;
    }
    .order section div {
        position:relative;
        height:100%;
        font:20px/40px mPlus;
    }

    .order section div:nth-of-type(1) {
        width:calc(100% - 255px);
        text-align:left;
        background:#64c8c8;
        color:white;
        padding-left:30px;
    }
    .order section div:nth-of-type(2) {
        width:100px;
        text-align:center;
        background:white;
        color:black;
    }
    .order section div:nth-of-type(3) {
        width:125px;
        text-align:center;
        background:#64c8c8;
        color:white;
    }
    .div-for-map {
        height: 600px;
        width: 800px;
        left: calc(50% - 400px);
        position: relative;
        margin: 25px 0; }
      #map {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px; }
}
@media screen and (max-width:1080px) {
    .order {
        position:relative;
        width:calc(100% - 60px);
        left:30px;
        display:flex;
        display:-webkit-flex;
        flex-direction:column;
        -webkit-flex-direction:column;
    }
    .order section {
        position:relative;
        width:100%;
        height:60px;
        display:flex;
        display:-webkit-flex;
        flex-direction:row;
        -webkit-flex-direction:row;
    }
    .order section div {
        position:relative;
        height:100%;
        font:28px/60px mPlus;
    }

    .order section div:nth-of-type(1) {
        width:calc(100% - 355px);
        text-align:left;
        background:#64c8c8;
        color:white;
        padding-left:30px;
    }
    .order section div:nth-of-type(2) {
        width:150px;
        text-align:center;
        background:white;
        color:black;
    }
    .order section div:nth-of-type(3) {
        width:175px;
        text-align:center;
        background:#64c8c8;
        color:white;
    }
    .div-for-map {
        height: 600px;
        width: calc(100% - 200px);
        position: relative;
        left: 100px;
        margin: 25px 0; }
      #map {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px; }
}