@font-face {
  font-family: DroidSans;
  src: url("../fonts/DroidSans-Bold.ttf"); }

@font-face {
  font-family: mPlus;
  src: url("../fonts/MPLUSRounded1c-Light.ttf"); }

@font-face {
  font-family: Lobster;
  src: url("../fonts/Lobster-Regular.ttf"); }

@font-face {
  font-family: CormorantInfant;
  src: url("../fonts/CormorantInfant-LightItalic.ttf"); }

@font-face {
  font-family: CormorantInfantBold;
  src: url("../fonts/CormorantInfant-BoldItalic.ttf"); }

@font-face {
  font-family: Aileron;
  src: url("../fonts/Aileron-UltraLight.otf"); }

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans.ttf"); }

@font-face {
  font-family: FuturaPT;
  src: url("../fonts/FuturaPT-Heavy.woff2"); }

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: Building;
  src: url("../fonts/Building_Typeface.ttf"); }

html, body::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0);
  height: 0px; }

header, header > div, .menu div:nth-of-type(1), .menu div:nth-of-type(1) font div {
  display: -webkit-flex;
  display: flex; }

body {
  background: white; }

header {
  position: absolute;
  left: 0px;
  top: 60px;
  height: 400px;
  width: 100%;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  align-items: center;
  -webkit-align-items: center;
  overflow: hidden;
  z-index: 1; }

header > div {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  align-items: center;
  -webkit-align-items: center; }
  header > div h1 {
    width: 100%;
    text-align: center;
    font: 56px CormorantInfantBold;
    color: white;
    cursor: default; }
    header > div h1 span {
      font: 42px CormorantInfant; }

.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 60px;
  width: 100%;
  background: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  z-index: 10000; }
  .menu div:nth-of-type(1) {
    position: absolute;
    left: calc(50% - 400px);
    top: 0px;
    width: 800px;
    height: 100%;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center; }
    .menu div:nth-of-type(1) font {
      text-decoration: none;
      color: black;
      font: 18px/60px mPlus;
      transition: 350ms;
      position: relative;
      margin: 0px 20px;
      cursor: pointer;
      height: 100%; }
      .menu div:nth-of-type(1) font font {
        margin: 0px 0px; }
      .menu div:nth-of-type(1) font div {
        position: absolute;
        padding: 0px 5px;
        left: -25px;
        top: 100%;
        width: calc(100% + 40px);
        background: white;
        box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.5);
        flex-direction: column;
        -webkit-flex-direction: column;
        height: 0px;
        transition: 350ms;
        overflow: hidden; }
        .menu div:nth-of-type(1) font div a {
          margin: 10px 0;
          font: 14px mPlus;
          color: black; }
    .menu div:nth-of-type(1) a {
      text-decoration: none;
      color: black;
      font: 18px mPlus;
      transition: 350ms;
      position: relative;
      margin: 0px 20px; }

.href-about-cafe {
  position: relative; }

.href-about-cafe::after {
  content: '';
  display: block;
  position: absolute;
  right: -12px;
  width: 0px;
  height: 0px;
  top: 50%;
  border: solid 5px rgba(0, 0, 0, 0);
  border-top: solid 5px black;
  transition: 350ms;
  z-index: 1; }

@media screen and (min-width: 1366px) {
  .div-for-map {
    height: 400px;
    width: calc(100% - 30px);
    left: 15px;
    position: relative;
    margin: 25px 0;
    display: none; }
  #map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px; }
  #floating-panel {
    position: absolute;
    width: calc(100% - 50px);
    top: 10px;
    right: 0px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px; }
  article {
    position: absolute;
    left: 0px;
    top: 500px;
    width: 100%;
    background: white;
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    overflow: hidden; }
    article section {
      position: relative; }
    article section:nth-of-type(1) {
      display: -webkit-flex;
      display: flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-around;
      -webkit-justify-content: space-around;
      width: 320px;
      height: 420px;
      left: 100px; }
      article section:nth-of-type(1) img {
        position: relative;
        width: 300px;
        height: 400px;
        padding: 2px;
        border-radius: 3px;
        background: white;
        border: solid 1px #7ec0ee; }
    article section:nth-of-type(2) {
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      width: calc(100% - 820px);
      left: 100px; }
      article section:nth-of-type(2) form button:nth-of-type(1) {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 100px;
        height: 18px;
        border: none;
        background: rgba(0, 0, 0, 0);
        outline: none;
        text-decoration: underline;
        color: black;
        font: 14px mPlus;
        cursor: pointer;
        z-index: 2; }
      article section:nth-of-type(2) form button:nth-of-type(2) {
        position: relative;
        height: 40px;
        font: 18px Roboto;
        border: solid 2px #7ec0ee;
        color: #7ec0ee;
        background: white;
        left: calc(50% - 100px);
        outline: none;
        transition: 350ms;
        width: 200px;
        display: none;
        z-index: 2;
        transition: 350ms;
        cursor: pointer;
        margin-bottom: 50px; }
      article section:nth-of-type(2) form button:nth-of-type(2):hover {
        color: white;
        background: #7ec0ee; }
      article section:nth-of-type(2) form div:nth-of-type(1) font {
        font: 28px Roboto; }
      article section:nth-of-type(2) form div:nth-of-type(1) font::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: #7ec0ee;
        border-radius: 1px;
        position: absolute;
        left: 0px;
        bottom: -3px; }
      article section:nth-of-type(2) form div:nth-of-type(1), article section:nth-of-type(2) form div:nth-of-type(2), article section:nth-of-type(2) form div:nth-of-type(3) {
        position: relative;
        width: 100%;
        height: 60px;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        align-items: center;
        -webkit-align-items: center; }
        article section:nth-of-type(2) form div:nth-of-type(1) font, article section:nth-of-type(2) form div:nth-of-type(2) font, article section:nth-of-type(2) form div:nth-of-type(3) font {
          position: relative;
          font: 18px Roboto;
          color: black; }
        article section:nth-of-type(2) form div:nth-of-type(1) input, article section:nth-of-type(2) form div:nth-of-type(2) input, article section:nth-of-type(2) form div:nth-of-type(3) input {
          position: relative;
          height: 40px;
          font: 18px Roboto;
          border: solid 2px #7ec0ee;
          color: black;
          background: white;
          outline: none;
          transition: 350ms;
          width: calc(45% - 30px);
          padding: 0 15px;
          margin: 0 5% 0 0;
          display: none; }
    article section:nth-of-type(3) {
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      position: relative;
      width: 300px;
      left: 100px; }
      article section:nth-of-type(3) h2 {
        font: 24px mPlus;
        color: black;
        width: 100%;
        position: relative;
        text-align: center; }
      article section:nth-of-type(3) div {
        position:relative;
        width:100%;
        display:flex;
        display:-webkit-flex;
        flex-direction:column;
        -webkit-flex-direction:column;
        margin:10px 0;
      }

      article section:nth-of-type(3) a {
        color:black;
      }

      article section:nth-of-type(3) div a h4 {
        position:relative;
        width:100%;
        font:18px Roboto;
        color:black;
        text-align:center;
        margin:0 0 10px 0;
      }

      article section:nth-of-type(3) div h5 {
        position:relative;
        width:100%;
        font:18px mPlus;
        color:black;
        text-align:center;
        margin:0 0 0 0;
      }
    }

@media screen and (max-width: 1366px) and (min-width: 1080px) {
  .div-for-map {
    height: 400px;
    width: calc(100% - 30px);
    left: 15px;
    position: relative;
    margin: 25px 0;
    display: none; }
  #map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px; }
  #floating-panel {
    position: absolute;
    width: calc(100% - 50px);
    top: 10px;
    right: 0px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px; }
  article {
    position: absolute;
    left: 0px;
    top: 500px;
    width: 100%;
    background: white;
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    overflow: hidden; }
    article section {
      position: relative; }
    article section:nth-of-type(1) {
      display: -webkit-flex;
      display: flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-around;
      -webkit-justify-content: space-around;
      width: 320px;
      height: 420px; }
      article section:nth-of-type(1) img {
        position: relative;
        width: 300px;
        height: 400px;
        padding: 2px;
        border-radius: 3px;
        background: white;
        border: solid 1px #7ec0ee; }
    article section:nth-of-type(2) {
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      width: calc(100% - 620px); }
      article section:nth-of-type(2) form button:nth-of-type(1) {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 100px;
        height: 18px;
        border: none;
        background: rgba(0, 0, 0, 0);
        outline: none;
        text-decoration: underline;
        color: black;
        font: 14px mPlus;
        cursor: pointer;
        z-index: 2; }
      article section:nth-of-type(2) form button:nth-of-type(2) {
        position: relative;
        height: 40px;
        font: 18px Roboto;
        border: solid 2px #7ec0ee;
        color: #7ec0ee;
        background: white;
        left: calc(50% - 100px);
        outline: none;
        transition: 350ms;
        width: 200px;
        display: none;
        z-index: 2;
        transition: 350ms;
        cursor: pointer;
        margin-bottom: 50px; }
      article section:nth-of-type(2) form button:nth-of-type(2):hover {
        color: white;
        background: #7ec0ee; }
      article section:nth-of-type(2) form div:nth-of-type(1) font {
        font: 28px Roboto; }
      article section:nth-of-type(2) form div:nth-of-type(1) font::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: #7ec0ee;
        border-radius: 1px;
        position: absolute;
        left: 0px;
        bottom: -3px; }
      article section:nth-of-type(2) form div:nth-of-type(1), article section:nth-of-type(2) form div:nth-of-type(2), article section:nth-of-type(2) form div:nth-of-type(3) {
        position: relative;
        width: 100%;
        height: 60px;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        align-items: center;
        -webkit-align-items: center; }
        article section:nth-of-type(2) form div:nth-of-type(1) font, article section:nth-of-type(2) form div:nth-of-type(2) font, article section:nth-of-type(2) form div:nth-of-type(3) font {
          position: relative;
          font: 18px Roboto;
          color: black; }
        article section:nth-of-type(2) form div:nth-of-type(1) input, article section:nth-of-type(2) form div:nth-of-type(2) input, article section:nth-of-type(2) form div:nth-of-type(3) input {
          position: relative;
          height: 40px;
          font: 18px Roboto;
          border: solid 2px #7ec0ee;
          color: black;
          background: white;
          outline: none;
          transition: 350ms;
          width: calc(45% - 30px);
          padding: 0 15px;
          margin: 0 5% 0 0;
          display: none; }
    article section:nth-of-type(3) {
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      position: relative;
      width: 300px; }
      article section:nth-of-type(3) h2 {
        font: 24px mPlus;
        color: black;
        width: 100%;
        position: relative;
        text-align: center; }
        article section:nth-of-type(3) div {
          position:relative;
          width:100%;
          display:flex;
          display:-webkit-flex;
          flex-direction:column;
          -webkit-flex-direction:column;
          margin:10px 0;
        }
  
        article section:nth-of-type(3) a {
          color:black;
        }
  
        article section:nth-of-type(3) div a h4 {
          position:relative;
          width:100%;
          font:18px Roboto;
          color:black;
          text-align:center;
          margin:0 0 10px 0;
        }
  
        article section:nth-of-type(3) div h5 {
          position:relative;
          width:100%;
          font:18px mPlus;
          color:black;
          text-align:center;
          margin:0 0 0 0;
        }
      }

@media screen and (max-width: 1080px) {
  .div-for-map {
    height: 400px;
    width: calc(100% - 30px);
    left: 15px;
    position: relative;
    margin: 25px 0;
    display: none; }
  #map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px; }
  #floating-panel {
    position: absolute;
    width: calc(100% - 50px);
    top: 10px;
    right: 0px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    line-height: 30px;
    padding-left: 10px; }
  article {
    position: absolute;
    left: 0px;
    top: 500px;
    width: 100%;
    background: white;
    z-index: 2;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    overflow: hidden; }
    article section {
      position: relative; }
    article section:nth-of-type(1) {
      display: -webkit-flex;
      display: flex;
      align-items: center;
      -webkit-align-items: center;
      justify-content: space-around;
      -webkit-justify-content: space-around;
      width: 470px;
      height: 620px; }
      article section:nth-of-type(1) img {
        position: relative;
        width: 450px;
        height: 600px;
        padding: 2px;
        border-radius: 3px;
        background: white;
        border: solid 1px #7ec0ee; }
    article section:nth-of-type(2) {
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      width: calc(100% - 470px); }
      article section:nth-of-type(2) form button:nth-of-type(1) {
        position: absolute;
        right: 0px;
        top: 250px;
        width: 200px;
        height: 28px;
        border: none;
        background: rgba(0, 0, 0, 0);
        outline: none;
        text-decoration: underline;
        color: black;
        font: 28px mPlus;
        cursor: pointer;
        z-index: 2; }
      article section:nth-of-type(2) form button:nth-of-type(2) {
        position: relative;
        height: 60px;
        font: 32px Roboto;
        border: solid 2px #7ec0ee;
        color: #7ec0ee;
        background: white;
        left: calc(50% - 125px);
        outline: none;
        transition: 350ms;
        width: 250px;
        display: none;
        z-index: 2;
        transition: 350ms;
        cursor: pointer;
        margin-bottom: 50px; }
      article section:nth-of-type(2) form button:nth-of-type(2):hover {
        color: white;
        background: #7ec0ee; }
      article section:nth-of-type(2) form div:nth-of-type(1) font {
        font: 36px Roboto; }
      article section:nth-of-type(2) form div:nth-of-type(1) font::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: #7ec0ee;
        border-radius: 1px;
        position: absolute;
        left: 0px;
        bottom: -3px; }
      article section:nth-of-type(2) form div:nth-of-type(1), article section:nth-of-type(2) form div:nth-of-type(2), article section:nth-of-type(2) form div:nth-of-type(3) {
        position: relative;
        width: 100%;
        height: 60px;
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        -webkit-flex-direction: row;
        align-items: center;
        -webkit-align-items: center; }
        article section:nth-of-type(2) form div:nth-of-type(1) font, article section:nth-of-type(2) form div:nth-of-type(2) font, article section:nth-of-type(2) form div:nth-of-type(3) font {
          position: relative;
          font: 28px Roboto;
          color: black; }
        article section:nth-of-type(2) form div:nth-of-type(1) input, article section:nth-of-type(2) form div:nth-of-type(2) input, article section:nth-of-type(2) form div:nth-of-type(3) input {
          position: relative;
          height: 60px;
          font: 28px Roboto;
          border: solid 2px #7ec0ee;
          color: black;
          background: white;
          outline: none;
          transition: 350ms;
          width: calc(45% - 30px);
          padding: 0 15px;
          margin: 0 5% 0 0;
          display: none; }
    article section:nth-of-type(3) {
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      position: relative;
      width: 400px; }
      article section:nth-of-type(3) h2 {
        font: 32px mPlus;
        color: black;
        width: 100%;
        position: relative;
        text-align: center;}
        article section:nth-of-type(3) div {
          position:relative;
          width:100%;
          display:flex;
          display:-webkit-flex;
          flex-direction:column;
          -webkit-flex-direction:column;
          margin:10px 0;
        }
  
        article section:nth-of-type(3) a {
          color:black;
        }
  
        article section:nth-of-type(3) div a h4 {
          position:relative;
          width:100%;
          font:28px Roboto;
          color:black;
          text-align:center;
          margin:0 0 15px 0;
        }
  
        article section:nth-of-type(3) div h5 {
          position:relative;
          width:100%;
          font:28px mPlus;
          color:black;
          text-align:center;
          margin:0 0 0 0;
        }
      }
