<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block add_media %}{% endblock %}
    <link rel="stylesheet" href="/static/css/base.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title></title>
</head>
<body>



    {% block body %}

    {% endblock %}
</body>
</html>