{% extends "base.html" %}

{% block media %}
    <link rel="stylesheet" type="text/css" href="/css/order.css">
{% endblock %}

{% block content %}

	<article>
		<section class="order-list">
			<div id="first-one-order" class="one-order">
				<div>
					<h6><b>Страва</b></h6>
				</div>
				<div>
					<h6><b>Ціна</b></h6>
				</div>
				<div>
					<h6><b>К-сть</b></h6>
				</div>
                <div></div>
			</div>

            {% for dish in dishesList %}
                <div class="one-order">
                    <div>
                        <h6>{{ dish.dish.name }}</h6>
                    </div>
                    <div>
                        <h6>{{ dish.dish.price }} грн</h6>
                    </div>
                    <div>
                        <h6 id="dish{{ dish.id }}Qty">{{ dish.qty }}</h6>
                        <button onclick="changeVal('{{ dish.id }}', 0)">-</button>
                        <button onclick="changeVal('{{ dish.id }}', 1)">+</button>
                    </div>
                    <div>
                        <button onclick="removeDish({{ dish.id }})">+</button>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            {% endfor %}

		</section>
		<section class="accept-order">
			<button onclick="makeOrder()">Підтвердити</button>
		</section>
	</article>


    <script type="application/javascript">


        function changeVal(id, mode) {
            obj = document.getElementById("dish" + id + "Qty");
            val = parseInt(obj.innerText);

            newVal = 1;
            if (mode === 0) {
                newVal = +val - 1;
            } else if (mode === 1) {
                newVal = +val + 1;
            }

            if (newVal > 0) {
                $.when(
                    $.ajax({
                        url: "{% url "apiDish" %}",
                        type: "POST",
                        dataType: "html",
                        data: {
                            "action": "changeQty",
                            "id": id,
                            "newVal": newVal,
                        },
                        success: function(response) {
                            return true
                        },
                        error: function(response) {
                            return false
                        }
                    })
                ).then(function(response){
                    status = JSON.parse(response)["status"];

                    if (status === "ok") {
                        obj.innerText = newVal;
                    }
                 });
            }
        }


        function removeDish(id) {
            $.ajax({
                url: "{% url "apiDish" %}",
                type: "POST",
                dataType: "html",
                data: {
                    "action": "remove",
                    "id": id
                },
                success: function(response) {
                    return true
                },
                error: function(response) {
                    return false
                }
            })
        }


        function makeOrder() {
            $.ajax({
                url: "{% url "createOrder" %}",
                type: "GET",
                dataType: "html",
                data: {},
                success: function(response) {
                    response = JSON.parse(response);
                    if (response["status"] !== "ok") {
                        alert(response["status"]);
                    }
                    else {
                        console.log(response);
                        alert("ОК")
                    }
                },
                error: function(response) {
                    alert("FAIL")
                }
            })
        }

    </script>

{% endblock %}