<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin Free Bootstrap-4 Admin Dashboard Template</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/Admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/Admin/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/Admin/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/Admin/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/Admin/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:/Admin/partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
{#      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">#}
{#        <a class="navbar-brand brand-logo" href="{% url "managerHome" %}">#}
{#          <img src="/Admin/images/logo.svg" alt="logo" />#}
{#        </a>#}
{#        <a class="navbar-brand brand-logo-mini" href="{% url "managerHome" %}">#}
{#          <img src="/Admin/images/logo-mini.svg" alt="logo" />#}
{#        </a>#}
{#      </div>#}

      <div class="navbar-menu-wrapper d-flex align-items-center">
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="mdi mdi-bell"></i>
              <span class="count">4</span>
            </a>
          </li>
          <li class="nav-item dropdown d-none d-xl-inline-block">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              <span class="profile-text">{{ user.get_full_name }}</span>
{#              <img class="img-xs rounded-circle" src="/Admin/images/faces/face1.jpg" alt="Profile image">#}
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
              <a class="dropdown-item mt-2">
                Змінити пароль
              </a>
              <a class="dropdown-item" href="/">
                На головну
              </a>
              <a class="dropdown-item" href="{% url "logout" %}">
                Вийти з акаунту
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:/Admin/partials/_sidebar.html -->

      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
        <br>
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
{#                <div class="profile-image">#}
{#                  <img src="/Admin/images/faces/face1.jpg" alt="profile image">#}
{#                </div>#}
                <div class="text-wrapper">
                  <p class="profile-name">Панель керування</p>
                    {% if cafeAddress %}
                      <div>
                        <small class="designation text-muted">{{ cafeAddress }}</small>
                        <span class="status-indicator online"></span>
                      </div>
                    {% endif %}
                </div>
              </div>
{#              <button class="btn btn-success btn-block">New Project#}
{#                <i class="mdi mdi-plus"></i>#}
{#              </button>#}
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link count-indicator" href="{% url "managerOrdersList" 1 %}">
              <i class="menu-icon mdi mdi-basket"></i>
              <span class="menu-title">Замовлення</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">
              <i class="menu-icon mdi mdi-transfer"></i>
              <span class="menu-title">Транзит інгредієнтів</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "managerPreparedDishesList" 1 %}">
              <i class="menu-icon mdi mdi-update"></i>
              <span class="menu-title">Заготовленi страви</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">
              <i class="menu-icon mdi mdi-store"></i>
              <span class="menu-title">Склад</span>
            </a>
          </li>
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="/Admin/pages/charts/chartjs.html">#}
{#              <i class="menu-icon mdi mdi-chart-line"></i>#}
{#              <span class="menu-title">Charts</span>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="/Admin/pages/tables/basic-table.html">#}
{#              <i class="menu-icon mdi mdi-table"></i>#}
{#              <span class="menu-title">Tables</span>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" href="/Admin/pages/icons/font-awesome.html">#}
{#              <i class="menu-icon mdi mdi-sticker"></i>#}
{#              <span class="menu-title">Icons</span>#}
{#            </a>#}
{#          </li>#}
{#          <li class="nav-item">#}
{#            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">#}
{#              <i class="menu-icon mdi mdi-restart"></i>#}
{#              <span class="menu-title">User Pages</span>#}
{#            </a>#}
{#          </li>#}
        </ul>
      </nav>

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            {% block content %}

            {% endblock %}
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:/Admin/partials/_footer.html -->
{#        <footer class="footer">#}
{#          <div class="container-fluid clearfix">#}
{#            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018#}
{#              <a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>#}
{#            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with#}
{#              <i class="mdi mdi-heart text-danger"></i>#}
{#            </span>#}
{#          </div>#}
{#        </footer>#}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/Admin/vendors/js/vendor.bundle.base.js"></script>
  <script src="/Admin/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
{#  <script src="/Admin/js/off-canvas.js"></script>#}
{#  <script src="/Admin/js/misc.js"></script>#}
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>
