{% extends "base.html" %}

{% block media %}
	<title>Червень | Підтвердити замовлення</title>
	<link rel="stylesheet" type="text/css" href="/css/accept.css">
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        {##map {#}
        {#    height: 500px;#}
        {#    width: 800px;#}
        {# }#}
    </style>
{% endblock %}

{% block content %}
    <input type="hidden" value="{% if lat %}
                                    {{ lat|floatWithDot }}
                                {% else %}
                                    50.249263
                                {% endif %}
                               " name="lat" id="id_lat">
    <input type="hidden" value="{% if lon %}
                                    {{ lon|floatWithDot }}
                                {% else %}
                                    28.6743508
                                {% endif %}
                               " name="lon" id="id_lon">
    <input type="hidden" value="{{ street_name }}" name="street_name" id="id_street_name">
    <div class="div-for-map">
        <div id="floating-panel">
            <input id="address" type="textbox" value="Житомир, {{ street_name }}">
            <input id="submit" type="button" value="ОБРАТИ">
        </div>
        <div id="map"></div>
    </div>
    <p align="center"><input type="text" name="home_details" id="id_home_details" placeholder="Номер квартири" value="{{ home_details }}"></p>
    <button type="button" id="submit-order" onclick="makeOrder()">Підтвердити</button>

<script>
function makeOrder() {

$("#submit-order").prop("disabled", true);

$.ajax({
    url: "{% url "createOrder" %}",
    type: "GET",
    dataType: "json",
    data: {
        "home_details": $("#id_home_details").val(),
        "street_name": $("#id_street_name").val(),
        "lat": $("#id_lat").val(),
        "lon": $("#id_lon").val()
    },
    success: function(response) {
        if (response) {
            console.log(response);
            // response = JSON.parse(response);
            if (response["status"] && response["status"] === "ok") {
                $.notify("Замовлення зареєстровано!", "success");
                var redirectTo = "{% url "profile" %}";
                if (response["order"]){
                    redirectTo = "/order-details/" + response["order"] + "/";
                }
                window.location.replace(redirectTo);
            }
            else {
                $.notify(response["status"], "error");
            }
        }
        else {
            $.notify("Помилка!", "error");
        }
    },
    error: function(response) {
        $.notify("Помилка сервера!", "error")
    }
});

$("#submit-order").prop("disabled", false);


}






var map, infoWindow, marker, address_components, cityBounds;

function initMap() {

cityBounds = new google.maps.LatLngBounds(
    new google.maps.LatLng(50.307491, 28.590374),
    new google.maps.LatLng(50.229317, 28.752060)
);

map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: parseFloat($("#id_lat").val()), lng: parseFloat($("#id_lon").val()) },
    zoom: 14
});
marker = new google.maps.Marker({
    map: map,
    position: {lat: parseFloat($("#id_lat").val()), lng: parseFloat($("#id_lon").val()) }
});
var geocoder = new google.maps.Geocoder();

document.getElementById('submit').addEventListener('click', function () {
    console.log("1");
    console.log(geocoder);
    console.log(map);
    console.log("-1");
    geocodeAddress(geocoder, map);
});
}


function geocodeAddress(geocoder, resultsMap) {
    var address = "Житомир, " + document.getElementById('address').value;
    google.maps.event.addListener(map, 'click', function (event) {
        placeMarker(event.latLng);
    });

    function placeMarker(location) {
        marker.setPosition(location);

    }

    console.log(cityBounds);

    geocoder.geocode({
        'address': address,
        bounds: cityBounds,
        componentRestrictions: {
            country:'Ukraine',
        }
    }, function (results, status) {
        if (status === 'OK') {
            address_components = results[0].address_components;
            console.log(address_components);
            console.log(address_components.long_name);

            var locationData = {};

            for (var ac = 0; ac < results[0].address_components.length; ac++) {

               var component = results[0].address_components[ac];

               if(component.types.includes('street_number')) {
                    console.log("street_number");
                    console.log(component);
                    locationData["street_number"] = component.long_name;
               }
               else if (component.types.includes('route')) {
                    console.log("route");
                    console.log(component);
                    locationData["street_name"] = component.long_name;
               }
               else if (component.types.includes('locality')) {
                    console.log("city");
                    console.log(component);
                    locationData["city"] = component.long_name;
               }
            }

            if (locationData["city"] && locationData["city"] === "Житомир") {
                if (locationData["street_name"] && locationData["street_number"]) {
                    resultsMap.setCenter(results[0].geometry.location);
                    marker.setPosition(results[0].geometry.location);
                    marker.map = resultsMap;
                    $("#id_lat").val(results[0].geometry.location.lat());
                    $("#id_lon").val(results[0].geometry.location.lng());
                    $("#id_street_name").val(
                        locationData["street_name"] + ", " + locationData["street_number"]
                    );
                }
                else {
                    $.notify("Не знайдено такої вулиці!");
                }
            }
            else {
                $.notify("Адреса знайдена, але поза Житомиром!");
            }
        } else {
            $.notify("Не знайдено!");
        }
    });
}


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEQqw183pZwuWHsjMM9IydQbqaxzuoU-s&callback=initMap&language=uk"
async defer></script>
{% endblock %}