<!DOCTYPE html>
<html>
<head>
	<title>Червень</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/menu2.css">
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/notify.min.js"></script>
	<script type="text/javascript" src="/js/menu.js"></script>
  <link rel="stylesheet" href="/static/Admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/Admin/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/static/Admin/vendors/css/vendor.bundle.addons.css">
    {% block media %}{% endblock %}
</head>
<body>
	<div class="overflow"></div>
	<nav class="menu"><!--Верхнее меню-->
		<div>
			<a href="/">Домівка</a>
			<a href="{% url "menu" %}">Меню</a>
			<a href="{% url "cart" %}">Кошик</a>
            {% if user.is_authenticated %}
                <a href="{% url "profile" %}">Профіль</a>
            {% else %}
                <a href="{% url "login" %}">Увійти</a>
            {% endif %}
		</div>
	</nav>
	<nav class="open-menu"><div></div><div></div><div></div></nav>
	<nav class="mobile-menu">
			<a href="/">Домівка</a>
			<a href="{% url "menu" %}">Меню</a>
			<a href="{% url "cart" %}">Кошик</a>
            {% if user.is_authenticated %}
                <a href="{% url "profile" %}">Профіль</a>
            {% else %}
                <a href="{% url "login" %}">Увійти</a>
            {% endif %}
	</nav>
	<header>
		<div>
			<H1><span>Ласкаво просимо</span><br>до ЧЕРВНЯ</H1>
		</div>
	</header>
	<article>
        {% if profile.role == "manager" %}
            <a class="go-to-admin" href="/manager/">Адмін. панель</a>
        {% endif %}

		{% block content %}
		{% endblock %}
		<footer>
			<div>
				<div>
					<h5>ЧЕРВЕНЬ</h5>
					<h6>Всі дороги ведуть саме сюди</h6>
				</div>
				<div>
					<h5>КОНТАКТНА ІНФОРМАЦІЯ</h5>
					<font>+38 066 648 10 68<br>+38 063 456 51 95</font><br>
					<font>contact@cherven.cf<br>cherven@gmail.com</font><br>
				</div>
			</div>
		</footer>
	</article>
</body>
</html>