﻿{% extends "base.html" %}

{% block media %}
    <link rel="stylesheet" type="text/css" href="/css/order.css">
{% endblock %}

{% block content %}

    <section class="order-list">
        <div id="first-one-order" class="one-order">
            <div>
                <h6><b>Страва</b></h6>
            </div>
            <div>
                <h6><b>К-ть</b></h6>
            </div>
            <div>
                <h6><b>Ціна</b></h6>
            </div>
            <div></div>
        </div>

        {% for dish in dishesList %}
            <div class="one-order" id="dish{{ dish.id }}">
                <div>
                    <h6>{{ dish.dish.name }}</h6>
                </div>
                <div>
                    <h6 id="dish{{ dish.id }}Qty">{{ dish.qty }}</h6>
                    <button onclick="changeVal('{{ dish.id }}', 0)">-</button>
                    <button onclick="changeVal('{{ dish.id }}', 1)">+</button>
                </div>
                <div>
                    <h6><span class="price">{{ dish.dish.price|floatWithDot }}</span> грн.</h6>
                </div>
                <div onclick="removeDish({{ dish.id }})">
                    <div></div>
                    <div></div>
                </div>
            </div>
        {% endfor %}

        <div class="one-order">
            <div style="background:white;"></div>
            <div><h6 sstyle="color:black;">Всього:</h6></div>
            <div style="background:white; color:black;"><h6 id="result" style="color:black;">0 грн</h6></div>
            <div style="background:white;"></div>
        </div>

    </section>
        <section class="accept-order">
            <a href="{% url "acceptOrder" %}"><button>Підтвердити</button></a>
        </section>


    <script type="application/javascript">

        $(window).resize(function() {
            resize();
        });
        $(document).ready(function() {
            resize();
        });
        function resize() {
            var height = $(window).height();
            var articleHeight = $('article').height();
            if (articleHeight + 400 > height) {
                $('.between-footer-cart').css({
                    'height':'0px'
                });
            }
            else {
                $('.between-footer-cart').css({
                    'height': articleHeight - 290 - $('.order-list').height() - $('.accept-order').height()
                })
            }
        }


        $(document).ready(function() {
            resize();
            setPrice();
        });

        function changeVal(id, mode) {
            obj = document.getElementById("dish" + id + "Qty");
            val = parseInt(obj.innerText);

            newVal = 1;
            if (mode === 0) {
                newVal = +val - 1;
            } else if (mode === 1) {
                newVal = +val + 1;
            }

            if (newVal > 0) {
                $.when(
                    $.ajax({
                        url: "{% url "apiDish" %}",
                        type: "POST",
                        dataType: "html",
                        data: {
                            "action": "changeQty",
                            "id": id,
                            "newVal": newVal,
                        },
                        success: function(response) {
                            return true;
                        },
                        error: function(response) {
                            return false
                        }
                    })
                ).then(function(response){
                    status = JSON.parse(response)["status"];

                    if (status === "ok") {
                        obj.innerText = newVal;
                        setPrice();
                    }
                 });
            }
        }

        function removeDish(id) {
            console.log(id);
            var el = $("#dish" + id);
            $.ajax({
                url: "{% url "apiDish" %}",
                type: "POST",
                dataType: "html",
                data: {
                    "action": "remove",
                    "id": id
                },
                success: function(response) {
                    if (response["status"] !== "ok") {
                        el.remove();
                        setPrice();
                    }
                },
                error: function(response) {
                    return false
                }
             })
        }

        function setPrice() {
            var dishesQty = document.getElementsByClassName('price').length;
            var price = 0.0;
            var itemPrice = 0.0;
            var amount = 0;

            for (i = 2; i <= dishesQty + 1; i++) {

                itemPrice = parseFloat($('.one-order:nth-of-type(' + i + ') div:nth-of-type(3) span').text());
                amount = parseInt($('.one-order:nth-of-type(' + i + ') div:nth-of-type(2) h6').text());
                price += (itemPrice * amount);

            }
            $('#result').text(price.toFixed(2) + " грн");
        }

    </script>
<section class="between-footer-cart"></section>
{% endblock %}