{% extends "base.html" %}
{% block media %}
<title>Червень |</title>
<link rel="stylesheet" type="text/css" href="/css/dish.css">
{% endblock %}
{% block content %}

    <section>
    <div>
    </div>
    <h1></h1>
    <font></font><br>
    <button onclick="addDishToCart({{ request.GET|getByKey:"id" }})">Додати до кошику</button>
</section>
<section>
    <div></div>
</section>

<script type="application/javascript">

	function addDishToCart(id) {
		$.ajax({
			url: "{% url "apiDish" %}",
			type: "POST",
			dataType: "html",
			data: {
				"action": "addToCart",
				"id": id,
			},
			success: function(response) {
				var result = JSON.parse(response);
				status = result["status"];
				if(status === "ok") {
					$.notify("Додано до кошику!", "success");
					}
				else{
					$.notify(status, "warn");
					}
			},
			error: function(response) {}
		});

	}

	$(document).ready(function() {
		var $_GET = {};
		document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
			function decode(s) {
				return decodeURIComponent(s.split("+").join(" "));
			}

			$_GET[decode(arguments[1])] = decode(arguments[2]);
		});
		var id = $_GET['id'];

		$.ajax({
			'url':'https://api.cherven.cf/menu/dish_description/' + id + '/',
			'type':'GET',
			'dataType':'json',
			'success':function(response) {
				var data = response;
				$('article section:nth-of-type(1) h1').html(data.name + '<font>' + data.price + ' грн</font>');
				$('article section:nth-of-type(1) > font').html(data.description);
				$('article section:nth-of-type(1) div:nth-of-type(1)').html('<img src="https://cherven.cf' + data.image + '"><div><h3>Iнформація:</h3><p>Калорії: ' + data.calorie + 'кал.</p><p>Маса: ' + data.weight + 'г.</p></div>');
				$('title').html('Червень | ' + data.name);
				$('article > section:nth-of-type(2)').html('<h3>Схожі страви:</h3><div></div>');
				var ids = '';
				var first = true;
				$.each(data.categories, function(keyy, val) {
					if (!first) {
						ids = ids + ',';
					}
					else {
						first = false;
					}
					ids = ids + '' + val.id;
				});
				$.ajax({
					'url':'https://api.cherven.cf/menu/dishes_list/1/?cats=' + ids + "&limit=6",
					'type':'GET',
					'dataType':'json',
					'success':function(responsee) {
						$.each(responsee, function(key, value) {
							if (value.id != response.id) {
								var name;
								if (value.name.length > 20) {
									name = value.name.substr(0, 19) + '...';
								}
								else {
									name = value.name.substr(0, 19);
								}
								$('article > section:nth-of-type(2) > div').append('' +
                                    '<div>' +
                                    '<img src="https://cherven.cf' + value.image + '">' +
                                    '<h4>' + name + '</h4><font>' + value.weight + 'г.</font>' +
                                    '<span>' + value.price + ' грн</span>' +
                                    '<div class="open-dish" onclick="funcOpen(' + value.id + ');"></div>');
							}
						});
					}
				});
			}
		});

	});

	function funcOpen(id) {
		document.location.href = './?id=' + id;
	}

</script>
{% endblock %}