<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Червень | Головна сторінка</title>
	<link rel="stylesheet" type="text/css" href="/css/mainPage.css">
	<link rel="stylesheet" type="text/css" href="/css/menu.css">
	<link rel="stylesheet" type="text/css" href="/css/modal.css">
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/header.js"></script>
	<script src="/js/modal.js"></script>
	<script src="/js/open-about-cafe.js"></script>
</head>
<body>
	<div class="overflow"></div>
	<div class="overlay"></div>
	<div class="close-modal"></div>
	<section class="modal-window" id="courier">
		<h3>Як стати кур'єром</h3>
        <font>Кур'єр - це часто обличчя компанії, адже саме він вступає в особисті контакти з партнерами і замовниками. А при роботі в Інтернет-магазині або в подібних організаціях він ще і учасник процесу продажу. Кур'єрові недостатньо просто привезти замовлення і віддати його в руки адресатові, отримати підпис і поїхати далі. Буває, необхідно грамотно заповнити документи, прийняти гроші, а інколи і пробити на портативному касовому апараті чек. Зрозуміло, цьому працівникові потрібно уміти спілкуватися з клієнтами, згладжувати можливі конфлікти. Тому, якщо ви така людина, що може виконати все вище написане, то ми чекаємо вас на співбесіду.
            <br>Номер контакту: +380675218452</font>
	</section>
	<nav class="menu">
		<div>
			<a href="/">Домівка</a>
			<a href="{% url "menu" %}">Меню</a>
			<font class="href-about-cafe"><font>Про нас</font>

				<div>
					<a name=".dish-rating">Рейтинг страв</a>
					<a name=".about-cafe">Про нас</a>
					<a name=".our-team">Наша команда</a>
				</div>

			</font>
			<a class="href-to-footer" style="cursor:pointer;" name="footer">Контакти</a>
		</div>
	</nav>
	<nav class="open-menu"><div></div><div></div><div></div></nav>
	<nav class="mobile-menu">
		<a href="">Домівка</a>
		<a href="{% url "menu" %}">Меню</a>
			<div>
				<font class="href-about-cafe">Про нас:</font>
				<div>
					<a name=".dish-rating">Рейтинг страв</a>
					<a name=".about-cafe">Про нас</a>
					<a name=".our-team">Наша команда</a>
				</div>
			</div>
		<a class="href-to-footer" style="cursor:pointer;" name="footer">Контакти</a>
	</nav>
	<header>
		<div>
			<H1><span>Ласкаво просимо</span><br>до ЧЕРВНЯ</H1>
			<div class="top-menu">
				<div>
					<a class="social" id="social-in" target="_blank"
                       href="https://www.instagram.com/cherven.cf/"><img src="/img/instagram.png"></a>

					<a class="social" id="social-fb" target="_blank"
                       href="https://facebook.com"><img src="/img/facebook.png"></a>

					<a class="social" id="social-yt" target="_blank"
                       href="https://www.youtube.com/channel/UCG22rMTA2oSSdRUBZB8qHHw"><img src="/img/youtube.png"></a>

					<a class="social" id="social-tw" target="_blank"
                       href=""><img src="/img/twitter.png"></a>

					<div class="user-menu">
                        {% if user.is_authenticated %}
                            <a class="username" href="{% url "profile" %}">{{ user.first_name }}</a>
                            <a class="cart" href="{% url "cart" %}"></a>
                            <a href="{% url "logout" %}"><button class="logout"></button></a>
                        {% else %}
                            <a class="signin" href="{% url "login" %}">Увійти</a>
                            <a class="signup" href="{% url "signup" %}">Зареєструватися</a>
                            <a class="cart" href="{% url "cart" %}"></a>
                        {% endif %}
					</div>
				</div>

				<div>
					<h5>ЧЕРВЕНЬ</h5>
					<h6>Всі дороги ведуть саме сюди</h6>
				</div>

			</div>
			<div class="start">
				<h5>Почати смачну мандрівку</h5>
				<div></div>
				<div></div>
			</div>
		</div>
	</header>
	<article>
		<section class="dish-rating">
			<h3>Страви сезону</h3>
			<div id="top-dishes">
{#				<div><img src="image.jpg"><h4>Картопля жарена</h4><font>38кг.</font><span>3800$</span></div>#}
{#				<div><img src="image.jpg"><h4>Картопля жарена</h4><font>38кг.</font><span>3800$</span></div>#}
{#				<div><img src="image.jpg"><h4>Картопля жарена</h4><font>38кг.</font><span>3800$</span></div>#}
{#				<div><img src="image.jpg"><h4>Картопля жарена</h4><font>38кг.</font><span>3800$</span></div>#}
{#				<div><img src="image.jpg"><h4>Картопля жарена</h4><font>38кг.</font><span>3800$</span></div>#}
{#				<div><img src="image.jpg"><h4>Картопля жарена</h4><font>38кг.</font><span>3800$</span></div>#}
			</div>
		</section>
		<section class="article-header">
			<h2>ЩЕ НЕ ВИРІШИЛИ, ЩО ЗАМОВЯТИМЕТЕ?<br>ЗАПРОШУЄМО ДО НАШОГО <a href="{% url "menu" %}">МЕНЮ</a>!</h2>
		</section>
		<section class="about-cafe">
			<div>
				<h3>Ми - незвична мережа ресторанів</h3>
				<h5>А знаєте чому? Не потрібно долати кілометри, щоб дістатися нас - ми самі завітаємо до Вашого дому!
                    Ми - суміш українського ресторану та Uber в світі найсмачнішої їжі!</h5>
				<h5>Не розумієте, як ми працюємо? Сідайте, зараз розповімо!</h5>

				<p align="left">Міксуєте страви з нашого меню під ваш настрій та шлунок.</p>
				<p align="right">Робите замовлення, вказуючи адресу того щасливчика, якому воно адресоване.</p>
				<p align="left">Ми направляємо замовлення до найближчих ресторанів, щоб задовольнити ваші гастрономічні вподобання.</p>
				<p align="right">Тук, тук, тук - і ми вже тут!</p>
			</div>
		</section>
		<section class="article-header">
			<h2>ВИ ВСЕ ЩЕ НЕ РОБИТЕ ЗАМОВЛЕННЯ?<br>ЩО Ж, ОЗНАЙОМТЕСЯ З НАМИ БЛИЖЧЕ</h2>
		</section>
		<section class="our-team">
			<h3>Наша команда</h3>
			<div>
				<img src="/img/pasha.png">
				<h4>Павло</h4>
				<h5>Керує всім процесом приготування - від нарізки картоплі до вібору соуса під кожний тип страви</h5>
			</div>
			<div>
				<img src="/img/dima.png">
				<h4>Дмитро</h4>
				<h5>Питання про Життя, Всесвіт і все Інше</h5>
			</div>
			<div>
				<img src="/img/evgen.jpg">
				<h4>Євгеній</h4>
				<h5>Керує постачанням товарів на склади, фотографує їжу та гарно грає на аккордеоні</h5>
			</div>
			<div>
				<img src="/img/kostya.png">
				<h4>Костянтин</h4>
				<h5>Друг Олександра</h5>
			</div>
			<div>
				<img src="/img/sasha.jpg">
				<h4>Олександр</h4>
				<h5>Друг Костянтина</h5>
			</div>

		</section>

		<footer>
			<div>
				<div>
					<h5>ЧЕРВЕНЬ</h5>
					<h6>Всі дороги ведуть саме сюди</h6>
				</div>
				<div>
					<h5>КОНТАКТНА ІНФОРМАЦІЯ</h5>
					<font>+38 066 648 10 68<br>+38 063 456 51 95</font><br>
					<font>contact@cherven.cf<br>cherven@gmail.com</font><br>
					<font class="open-courier" style="cursor:pointer; font-size:24px;">Як стати кур'єром?</font>
				</div>
			</div>
		</footer>

	</article>
</body>
<script>

    $.ajax({
        'url':'https://api.cherven.cf/menu/dishes_list/1/?limit=6',
        'type':'GET',
        'dataType':'json',
        'success':function(response) {
            console.log(response);
            $.each(response, function(key, value) {
                var name;
                if (value.name.length > 20) {
                    name = value.name.substr(0, 19) + '...';
                }
                else {
                    name = value.name.substr(0, 19);
                }
                $('#top-dishes').append(
                    '<a href="/dish/?id=' + value.id + '"><div>' +
                        '<img src="' + value.image + '">' +
                        '<h4>'+ name +'</h4>' +
                        '<font>' + value.weight + '</font>' +
                        '<span>' + value.price + ' грн</span>' +
                    '</div></a>');

            });
        }
    });

</script>
</html>