<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Авторизацiя</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/Admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/Admin/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/static/Admin/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/Admin/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/Admin/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
              <form method="POST" action="">
                  {% csrf_token %}
                {% if form.errors %}
                    <ul class="list-ticked text-small">
                        <h5><li class="text-danger">Невірні дані</li></h5>
                    </ul>
                {% endif %}

                <div class="form-group">
                    {% if form.username.errors %}
                        <ul class="list-ticked text-small">
                        {% for error in form.username.errors %}
                            <li class="text-danger"><span>{{ error|escape }}</span></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                  <label class="label">Логін</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="username" id="id_username"
                           value="{% if form.username.value %}{{ form.username.value }}{% endif %}"  placeholder="Логін">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>


                <div class="form-group">

                    {% if form.password.errors %}
                        <ul class="list-ticked text-small">
                        {% for error in form.password.errors %}
                            <li class="text-danger"><span>{{ error|escape }}</span></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                  <label class="label">Пароль</label>
                  <div class="input-group">
                    <input type="password" class="form-control" name="password" id="id_password" placeholder="*********">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <button type="submit" value="login" class="btn btn-primary submit-btn btn-block">Увійти</button>
                </div>
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Ще не є користувачем?</span>
                  <a href="{% url "signup" %}" class="text-black text-small">Зареєструватися</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/static/Admin/vendors/js/vendor.bundle.base.js"></script>
  <script src="/static/Admin/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/static/Admin/js/off-canvas.js"></script>
  <script src="/static/Admin/js/misc.js"></script>
  <!-- endinject -->
</body>

</html>