{% extends "base.html" %}

{% block media %}
    <title>Червень | Меню</title>
    <link rel="stylesheet" type="text/css" href="/css/foodMenu.css">
    <script type="text/javascript" src="/js/sorting.js"></script>
{% endblock %}

{% block content %}
	<nav class="search">
		<button class="button-category" style="float:right">Категорії</button>
	</nav>
	<nav class="categories">
		
	</nav>
	
	<section class="food-list">
	</section>


    <script type="text/javascript">

        $(document).ready(function() {
            $.ajax({
                'url':'https://api.cherven.cf/menu/categories_list/',
                'type':'GET',
                'dataType':'json',
                'success':function(response) {
                    $.each(response, function(key, value) {
                        $('.categories').append('<button id="category' + value.id + '" onclick="funcLoadDishes(' + value.id + ');">' +  value.name + '</button>');
                    });
                }
            });


            $.ajax({
                'url':'https://api.cherven.cf/menu/dishes_list/1/',
                'type':'GET',
                'dataType':'json',
                'success':function(response) {
                    $('.food-list').html('<h3>Меню</h3>');
                    $.each(response, function(key, value) {
                        var name;
                        if (value.name.length >= 20) {
                            name = value.name.substr(0, 19) + '...';
                        }
                        else {
                            name = value.name.substr(0, 19);
                        }
                        $('.food-list').append('<div>' +
                            '<img src="https://cherven.cf' + value.image + '">' +
                            '<h4>' + name + '</h4>' +
                            '<font>' + value.weight + 'г.</font>' +
                            '<span>' + value.price + ' грн</span>' +
                            '<div class="open-dish" onclick="funcOpen(' + value.id + ');"></div>');
                    });
                }
            });

        });

        var presentCategory;

        function funcLoadDishes(category) {

            $('.food-list').html('<h3>Меню</h3>');

            if (presentCategory == category) {

                presentCategory = 0;

                $('.categories button').css({
                    'color':'#c83232',
                    'background':'white'
                });

                $.ajax({
                    'url':'https://api.cherven.cf/menu/dishes_list/1/',
                    'type':'GET',
                    'dataType':'json',
                    'success':function(response) {
                        $.each(response, function(key, value) {
                            var name;
                            if (value.name.length > 20) {
                                name = value.name.substr(0, 19) + '...';
                            }
                            else {
                                name = value.name.substr(0, 19);
                            }
                            $('.food-list').append('<div>' +
                                '<img src="https://cherven.cf' + value.image + '">' +
                                '<h4>' + name + '</h4>' +
                                '<font>' + value.weight + 'г.</font>' +
                                '<span>' + value.price + ' грн</span>' +
                                '<div class="open-dish" onclick="funcOpen(' + value.id + ');"></div>');
                        });
                    }
                });
            }
            else {

                presentCategory = category;

                $('.categories button').css({
                    'color':'#c83232',
                    'background':'white'
                });

                $('#category' + presentCategory).css({
                    'color':'white',
                    'background':'#c83232'
                });

                $.ajax({
                    'url':'https://api.cherven.cf/menu/dishes_list/1/?cats=' + category,
                    'type':'GET',
                    'dataType':'json',
                    'success':function(response) {
                        $.each(response, function(key, value) {
                            var name;
                            if (value.name.length > 20) {
                                name = value.name.substr(0, 19) + '...';
                            }
                            else {
                                name = value.name.substr(0, 19);
                            }
                            $('.food-list').append('<div>' +
                                '<img src="https://cherven.cf' + value.image + '">' +
                                '<h4>' + name + '</h4>' +
                                '<font>' + value.weight + 'г.</font>' +
                                '<span>' + value.price + ' грн</span>' +
                                '<div class="open-dish" onclick="funcOpen(' + value.id + ');"></div>');
                        });
                    }
                });

            }

        }

        function funcOpen(id) {
            document.location.href = '/dish/?id=' + id;
        }

    </script>
{% endblock %}