{% extends "base.html" %}

{% block media %}
	<title>Червень | Деталі замовлення</title>
	<link rel="stylesheet" type="text/css" href="/css/order-details.css">
{% endblock %}

{% block content %}
    <br>
    <section class="order">
        <section><div>Страва</div><div>К-сть</div><div>Ціна</div></section>
        {% for dish in dishes %}
            <section><div>{{ dish.dish.name }}</div><div>{{ dish.qty }}</div><div>{{ dish.dish.price }} грн</div></section>
        {% endfor %}
        <section><div></div><div>Всього:</div><div>{{ order.total_cost }} грн</div></section>
    </section>
    <br>
    <center>
        <textarea id="chat-log" cols="122" rows="20" style="display:none"></textarea><br/>
    </center>

    <div class="div-for-map">
        <div id="map"></div>
    </div>
<script>
    document.querySelector('#chat-log').value += "КООРДИНАТИ ВОДІЇВ\n\n";

    var courierMarker;
    function initMap() {
        var locations = [
            {% for cafe in cafes %}
                ["Ресторан {{ cafe.street_name }}", {{ cafe.lat|floatWithDot }}, {{ cafe.lon|floatWithDot }} ],
            {% endfor %}

            ["Ви ({{ order.location.street_name }})", {{ order.location.lat|floatWithDot }}, {{ order.location.lon|floatWithDot }} ],
        ];
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: new google.maps.LatLng(50.249263,28.6743508),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var infowindow = new google.maps.InfoWindow;

        var marker, i;

        for (i = 0; i < locations.length; i++) {
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
            });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infowindow.setContent(locations[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }

        var loc = window.location;
        var wsStart = "ws://";
        if (loc.protocol == "https:"){
            wsStart = "wss://"
        }
        var webSocketEndpoint =  wsStart + loc.host + "/order/courier-location/?id={{ order.id }}"; // ws : wss

        var locSocket = new WebSocket(webSocketEndpoint);

        locSocket.onmessage = function(e) {
            console.log(e);
            var data = JSON.parse(e.data);
            console.log(data);
            var message = data["message"];
            if (message) {
                document.querySelector('#chat-log').value += (message + '\n');
            }
            if (data["lon"] && data["lat"]) {
                if (!courierMarker) {
                    courierMarker = new google.maps.Marker({
                        position: new google.maps.LatLng(data["lat"], data["lon"]),
                        map: map
                    });
        
                    google.maps.event.addListener(courierMarker, 'click', (function(courierMarker, i) {
                        return function() {
                            infowindow.setContent("Кур'єр #" + data["courier"]);
                            infowindow.open(map, courierMarker);
                        }
                    })(courierMarker, i));
                } else {
                    courierMarker.setPosition( new google.maps.LatLng( data["lat"], data["lon"] ) );
                }
                document.querySelector('#chat-log').value += ("Кур'єр " + data["courier"] + ':\n');
                document.querySelector('#chat-log').value += ("\tДовгота: " + data["lon"] + '\n');
                document.querySelector('#chat-log').value += ("\tШирота: " + data["lat"] + '\n');
                document.querySelector('#chat-log').value += ('\n');
            }
        };

        locSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    }


</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ3joEQwxDuaxm3Rxhg-RnLMnXkGDkJng&callback=initMap">
</script>
{% endblock %}