{% extends "base.html" %}

{% block media %}
	<link rel="stylesheet" type="text/css" href="/css/profile.css">
{% endblock %}

{% block content %}
	<section>
		<img src="/img/profile-image.jpg">
	</section>
	<section>
		<form action="" method="POST">
                <button type="button" onclick="funcEdit();" class="edit">Редагувати</button>

                <div><font>{{ user.get_full_name }}</font>
                    {{ form.first_name }}
                    {{ form.last_name }}
                </div>

                <div>
                    <font>Тел.: {% if form.phone_number.value %}{{ form.phone_number.value }}{% else %}-{% endif %}</font>
                    {{ form.phone_number }}
                </div>

{#                <div>#}
{#                    <font>Пошта: {% if form.email.value %}{{ form.email.value }}{% else %}-{% endif %}</font>#}
{#                    {{ form.email }}#}
{#                </div>#}
                <button type="submit" onclick="funcSave();" class="save">Зберегти</button>
            </form>
	</section>
	<section>
		<h2>Мої замовлення:</h2>
        {% for order in orders %}
            <div>
                <a href="{% url "orderDetails" order.id %}"><h4>Замовлення #{{ order.id }}</h4></a>
                <h5>Статус: {% if order.status == "done" %}Виконано{% else %}В обробці{% endif %}</h5>

            </div>
        {% endfor %}
	</section>

<script type="text/javascript">

	function funcEdit() {
		$('article section:nth-of-type(2) div input').css({
			'display':'inline-block'
		});
		$('article section:nth-of-type(2) div font').css({
			'display':'none'
		});
		$('.save').css({
			'display':'block'
		});
		$('.edit').css({
			'display':'none'
		});
	}
</script>
{% endblock %}