<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Реєстрація</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/static/Admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/Admin/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/static/Admin/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/static/Admin/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/static/Admin/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
              <form method="POST" action="">


                <div class="form-group">
                    {% if form.username.errors %}
                        <ul class="list-ticked text-small">
                        {% for error in form.username.errors %}
                            <li class="text-danger"><span>{{ error|escape }}</span></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                  <div class="input-group">
                    <input type="text" name="username" id="id_username" class="form-control" placeholder="Логін">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                    {% if form.first_name.errors %}
                        <ul class="list-ticked text-small">
                        {% for error in form.first_name.errors %}
                            <li class="text-danger"><span>{{ error|escape }}</span></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                  <div class="input-group">
                    <input type="text" name="first_name" id="id_first_name" class="form-control" placeholder="Ваше ім'я, як до Вас звертатися">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                    {% if form.phone_number.errors %}
                        <ul class="list-ticked text-small">
                        {% for error in form.phone_number.errors %}
                            <li class="text-danger"><span>{{ error|escape }}</span></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                  <div class="input-group">
                    <input type="text" name="phone_number" id="id_phone_number" class="form-control" maxlength="13" placeholder="Номер телефона">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                    {% if form.password1.errors %}
                        <ul class="list-ticked text-small">
                        {% for error in form.password1.errors %}
                            <li class="text-danger"><span>{{ error|escape }}</span></li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                  <div class="input-group">
                    <input type="password" name="password1" id="id_password1" class="form-control" placeholder="Пароль">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block">Зареєструватися</button>
                </div>
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Вже зареєстровані?</span>
                  <a href="{% url "login" %}" class="text-black text-small">Увійти</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/static/Admin/vendors/js/vendor.bundle.base.js"></script>
  <script src="/static/Admin/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="/static/Admin/js/off-canvas.js"></script>
  <script src="/static/Admin/js/misc.js"></script>
  <!-- endinject -->
</body>

</html>