<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="40"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<script>
    var loc = window.location;
    var wsStart = "ws://";
    if (loc.protocol == "https:"){
        wsStart = "wss://"
    }
    var webSocketEndpoint =  wsStart + loc.host + "/order/courier-location/?id={{ id }}"; // ws : wss

    var chatSocket = new WebSocket(webSocketEndpoint);

    chatSocket.onmessage = function(e) {
        console.log(e);
        var data = JSON.parse(e.data);
        console.log(data);
        var message = data["message"];
        if (message) {
            document.querySelector('#chat-log').value += (message + '\n');
        }
        console.log(data["lon"]);
        console.log(data["lat"]);
        if (data["lon"] && data["lat"] && data["courier"]) {
            console.log('1');

            document.querySelector('#chat-log').value += ("Courier " + data["courier"] + ':\n');
            document.querySelector('#chat-log').value += ("\tlon: " + data["lon"] + '\n');
            document.querySelector('#chat-log').value += ("\tlat: " + data["lat"] + '\n');
            document.querySelector('#chat-log').value += ('\n');
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'data': message
        }));

        messageInputDom.value = '';
    };
</script>
</html>